openapi: 3.1.0
info:
  title: Staten Island DA API (proposed)
  version: 0.1.0
  summary: >-
    One owned, resource-oriented API for the Office of the District Attorney, Richmond County
    (Staten Island DA) — publishing the office's press releases, programs, victim services, and
    community/scam advisories as clean resources, proposing an aggregate prosecution-statistics
    surface for its dark case data, and adding the missing write surface: submitting a confidential
    tip (today only a Contact Form 7 email form).
  description: >-
    Proposed API-first surface for the Office of the District Attorney, Richmond County, from the NYC
    Modernization low-hanging-fruit assessment of statenislandda.org.


    The Staten Island DA is an **off-platform, data-dark** domain. Its public presence is a
    self-hosted **WordPress** site (Themeco "Pro" theme) on **SiteGround** — not the NYC.gov chassis,
    and not on NYC Open Data. It publishes **zero** Socrata datasets. Its content (press releases,
    the "Our Efforts" programs, victim services, and scam/safety advisories) exists only as themed
    HTML; a latent WordPress REST API (`/wp-json`) is present but **bot-walled by a SiteGround captcha**,
    so it is not agent-accessible. The office's **core prosecution data is entirely dark** — cases,
    dispositions, and diversion outcomes live inside an internal case-management system and surface, if
    at all, only as prose in a press release.


    This contract does three things: (1) presents the WordPress content as one clean resource model
    (press releases, programs, victim services, community resources); (2) proposes an **aggregate,
    never-per-defendant** prosecution-statistics resource for the dark case data; and (3) adds the one
    net-new **write** workflow — **submitting a confidential tip** — that today exists only as a
    Contact Form 7 email form on the drug-tip and scam-tip pages.


    Because all five NYC borough DA offices share the same functions, this model is deliberately
    generic — a template for a single shared five-borough DA API. Every resource schema is an
    individual JSON Schema file referenced by `$ref`. See `../schemas/`, `../crosswalk.md`,
    `../tech-stack.md`, and `../apis-observed.md`.
  contact:
    name: API Evangelist — NYC Modernization
    url: https://github.com/api-evangelist/nyc
servers:
  - url: https://api.statenislandda.org/v1
    description: Proposed production host (illustrative)
tags:
  - name: PressReleases
    description: News and press releases published by the office.
  - name: Programs
    description: Prosecution bureaus, units, and community initiatives ("Our Efforts").
  - name: VictimServices
    description: Victim and witness support services.
  - name: CommunityResources
    description: Scam alerts, fraud-prevention notices, and public-safety advisories.
  - name: ProsecutionStatistics
    description: Aggregate caseload statistics (proposed — the dark data; never per-defendant).
  - name: Tips
    description: Submit and track a confidential tip (read + write). The net-new surface, today only a Contact Form 7 email form.

paths:
  /press-releases:
    get:
      operationId: listPressReleases
      summary: List / search press releases
      tags: [PressReleases]
      parameters:
        - name: category
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of press releases.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/press-release.json' } }
  /press-releases/{slug}:
    get:
      operationId: getPressRelease
      summary: Get a press release by slug
      tags: [PressReleases]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The press release.
          content:
            application/json:
              schema: { $ref: '../schemas/press-release.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /programs:
    get:
      operationId: listPrograms
      summary: List / search programs and initiatives
      tags: [Programs]
      parameters:
        - name: category
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of programs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/program.json' } }
  /programs/{slug}:
    get:
      operationId: getProgram
      summary: Get a program by slug
      tags: [Programs]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The program.
          content:
            application/json:
              schema: { $ref: '../schemas/program.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /victim-services:
    get:
      operationId: listVictimServices
      summary: List victim and witness support services
      tags: [VictimServices]
      parameters:
        - name: serviceType
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of victim services.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/victim-service.json' } }

  /community-resources:
    get:
      operationId: listCommunityResources
      summary: List scam alerts and public-safety advisories
      tags: [CommunityResources]
      parameters:
        - name: resourceType
          in: query
          schema: { type: string }
        - name: audience
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of community resources.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/community-resource.json' } }

  /prosecution-statistics:
    get:
      operationId: listProsecutionStatistics
      summary: Aggregate caseload statistics (proposed)
      description: >-
        Proposed aggregate prosecution statistics — the office's dark case data, rolled up by period
        and offense category. Never returns an individual case or defendant. No live source today.
      tags: [ProsecutionStatistics]
      parameters:
        - name: year
          in: query
          schema: { type: integer }
        - name: offenseCategory
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of aggregate prosecution statistics.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/prosecution-statistics.json' } }

  /tips:
    post:
      operationId: submitTip
      summary: Submit a confidential tip (net-new write)
      description: >-
        The net-new write surface — an API for submitting a confidential drug or scam tip, replacing
        the Contact Form 7 email-only forms at /drug-tip-form/ and /scam-tip-form/. Tips may be fully
        anonymous; sender contact fields are optional. Returns a confidential tip reference the
        submitter can use to check status.
      tags: [Tips]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/tip-submission.json' }
      responses:
        '201':
          description: Tip received.
          content:
            application/json:
              schema: { $ref: '../schemas/tip-submission.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /tips/{tipId}:
    get:
      operationId: getTip
      summary: Get the status of a submitted tip
      description: Reads back a previously submitted tip's status by its confidential reference.
      tags: [Tips]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: tipId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The tip and its status.
          content:
            application/json:
              schema: { $ref: '../schemas/tip-submission.json' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    PressRelease: { $ref: '../schemas/press-release.json' }
    Program: { $ref: '../schemas/program.json' }
    VictimService: { $ref: '../schemas/victim-service.json' }
    CommunityResource: { $ref: '../schemas/community-resource.json' }
    ProsecutionStatistics: { $ref: '../schemas/prosecution-statistics.json' }
    TipSubmission: { $ref: '../schemas/tip-submission.json' }
    PageMeta:
      type: object
      properties:
        meta:
          type: object
          properties:
            page: { type: integer }
            perPage: { type: integer }
            total: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
  parameters:
    q:
      name: q
      in: query
      description: Free-text search.
      schema: { type: string }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
