openapi: 3.1.0
info:
  title: NYC Campaign Finance Board API (proposed)
  version: 0.1.0
  summary: >-
    One owned, documented, resource-oriented API for the New York City Campaign Finance Board —
    formalizing the real-but-undocumented Follow the Money search backend and the open campaign-finance
    datasets (candidates, committees, contributions, expenditures, public matching-funds payments) as
    coherent resources, and adding the missing write surface locked inside the C-SMART disclosure
    application — submitting a disclosure statement (filing).
  description: >-
    Proposed API-first surface for the New York City Campaign Finance Board (CFB), from the NYC
    Modernization low-hanging-fruit assessment of nyccfb.info, nycvotes.org, and the Follow the Money
    searchable database.


    CFB is the transparency leader among NYC agencies — and the finding is that it is *almost*
    API-first already. It runs on its **own domain** (`nyccfb.info`, not nyc.gov), publishes **16 NYC
    Open Data datasets**, ships a **bulk Data Library** of per-cycle CSVs back to 2001, and — crucially —
    its Follow the Money search is a single-page app backed by a **real, working JSON Web API**
    (`nyccfb.info/FTMSearchWebAPI`, ASP.NET Web API). That API returns live campaign-finance JSON today.
    But it is **undocumented, backend-only, and unowned as a product**: no OpenAPI, no developer docs, no
    stable contract, no agent-native surface. Meanwhile the **write** side — a filer submitting a
    disclosure statement — lives only inside the login-walled **C-SMART** disclosure software.


    This contract does two things: (1) documents the already-open reference/search data as one clean,
    stable resource model, and (2) adds the one net-new **write** workflow — submitting a **disclosure
    filing** — that today exists only behind C-SMART.


    Every resource schema is an individual JSON Schema file referenced by `$ref`. See `../schemas/`,
    `../crosswalk.md`, `../tech-stack.md`, and `../apis-observed.md`.
  contact:
    name: API Evangelist — NYC Modernization
    url: https://github.com/api-evangelist/nyc
servers:
  - url: https://api.nyccfb.info/v1
    description: Proposed production host (illustrative)
tags:
  - name: Candidates
    description: Candidates for NYC elected office and their financial summaries.
  - name: Committees
    description: Authorized campaign committees (filers).
  - name: Contributions
    description: Campaign contributions, including intermediary/bundler detail.
  - name: Expenditures
    description: Campaign expenditures (spending).
  - name: PublicFunds
    description: Public matching-funds payments to participating candidates.
  - name: Disclosures
    description: Disclosure statements (read + write). The net-new write surface, today locked in the C-SMART application.

paths:
  /candidates:
    get:
      operationId: listCandidates
      summary: List / search candidates
      tags: [Candidates]
      parameters:
        - $ref: '#/components/parameters/electionCycle'
        - name: office
          in: query
          schema: { type: string }
        - name: class
          in: query
          description: Candidate class (participating / non-participating / limited).
          schema: { type: string }
        - name: incumbent
          in: query
          schema: { type: boolean }
        - $ref: '#/components/parameters/borough'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of candidates.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/candidate.json' } }
  /candidates/{candidateId}:
    get:
      operationId: getCandidate
      summary: Get a candidate by CFB candidate id
      tags: [Candidates]
      parameters:
        - name: candidateId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The candidate.
          content:
            application/json:
              schema: { $ref: '../schemas/candidate.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /committees:
    get:
      operationId: listCommittees
      summary: List / search campaign committees (filers)
      tags: [Committees]
      parameters:
        - $ref: '#/components/parameters/electionCycle'
        - name: candidateId
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of committees.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/committee.json' } }
  /committees/{filerId}:
    get:
      operationId: getCommittee
      summary: Get a committee by filer id
      tags: [Committees]
      parameters:
        - name: filerId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The committee.
          content:
            application/json:
              schema: { $ref: '../schemas/committee.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /contributions:
    get:
      operationId: listContributions
      summary: Search campaign contributions
      tags: [Contributions]
      parameters:
        - $ref: '#/components/parameters/electionCycle'
        - name: candidateId
          in: query
          schema: { type: string }
        - name: recipientId
          in: query
          schema: { type: string }
        - name: contributorName
          in: query
          schema: { type: string }
        - name: contributorType
          in: query
          schema: { type: string }
        - name: intermediaryName
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/borough'
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - name: matchableOnly
          in: query
          schema: { type: boolean }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of contributions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/contribution.json' } }

  /expenditures:
    get:
      operationId: listExpenditures
      summary: Search campaign expenditures
      tags: [Expenditures]
      parameters:
        - $ref: '#/components/parameters/electionCycle'
        - name: candidateId
          in: query
          schema: { type: string }
        - name: payeeName
          in: query
          schema: { type: string }
        - name: purposeCode
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of expenditures.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/expenditure.json' } }

  /public-funds-payments:
    get:
      operationId: listPublicFundsPayments
      summary: List public matching-funds payments
      tags: [PublicFunds]
      parameters:
        - $ref: '#/components/parameters/electionCycle'
        - name: candidateId
          in: query
          schema: { type: string }
        - name: office
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/borough'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of public matching-funds payments.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/public-funds-payment.json' } }

  /disclosure-filings:
    get:
      operationId: listDisclosureFilings
      summary: List / search disclosure statements (incl. late/missing)
      description: Reads disclosure statements and their status — today assembled from the statements listing on nyccfb.info and the Late/Missing Disclosure Statements dataset.
      tags: [Disclosures]
      parameters:
        - $ref: '#/components/parameters/electionCycle'
        - name: filerId
          in: query
          schema: { type: string }
        - name: candidateId
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [Draft, Submitted, Accepted, In Review, Amended, Late, Missing] }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of disclosure filings.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/disclosure-filing.json' } }
    post:
      operationId: createDisclosureFiling
      summary: Submit a disclosure statement (file)
      description: >-
        The net-new write surface — an API for submitting a campaign-finance disclosure statement,
        replacing the C-SMART-only workflow. Requires an authenticated filer. Set `amendment` to true
        (with `amendsFilingId`) to amend a previously submitted statement.
      tags: [Disclosures]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/disclosure-filing.json' }
      responses:
        '201':
          description: Disclosure statement submitted.
          content:
            application/json:
              schema: { $ref: '../schemas/disclosure-filing.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /disclosure-filings/{filingId}:
    get:
      operationId: getDisclosureFiling
      summary: Get a disclosure statement
      tags: [Disclosures]
      parameters:
        - name: filingId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The disclosure filing.
          content:
            application/json:
              schema: { $ref: '../schemas/disclosure-filing.json' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Candidate: { $ref: '../schemas/candidate.json' }
    Committee: { $ref: '../schemas/committee.json' }
    Contribution: { $ref: '../schemas/contribution.json' }
    Expenditure: { $ref: '../schemas/expenditure.json' }
    PublicMatchingFundsPayment: { $ref: '../schemas/public-funds-payment.json' }
    DisclosureFiling: { $ref: '../schemas/disclosure-filing.json' }
    PageMeta:
      type: object
      properties:
        meta:
          type: object
          properties:
            page: { type: integer }
            perPage: { type: integer }
            total: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
  parameters:
    borough:
      name: borough
      in: query
      schema: { type: string, enum: [Manhattan, Bronx, Brooklyn, Queens, Staten Island] }
    electionCycle:
      name: electionCycle
      in: query
      description: Election cycle year (e.g. 2021, 2025, 2029).
      schema: { type: string }
    q:
      name: q
      in: query
      description: Free-text search.
      schema: { type: string }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
