openapi: 3.1.0
info:
  title: NYC DEP API (proposed)
  version: 0.1.0
  summary: >-
    One owned, resource-oriented API for the New York City Department of Environmental Protection —
    publishing its already-open environmental reference data (reservoir levels, water quality, water
    consumption, green infrastructure, hydrants, permits) as coherent, well-typed resources, and adding
    the missing transactional surface today split between NYC311 and the login-walled My DEP Account
    (uMAX) portal — reporting a water or sewer problem (water service request).
  description: >-
    Proposed API-first surface for the New York City Department of Environmental Protection (DEP), from
    the NYC Modernization low-hanging-fruit assessment of nyc.gov/site/dep and the My DEP Account portal.


    DEP is a **data-rich, transaction-poor** domain. Its environmental **reference and telemetry data is
    unusually well published** on NYC Open Data — 57 datasets covering reservoir levels, harbor and
    drinking-water quality, citywide water consumption, green infrastructure, hydrants and catch basins,
    and its air/water/asbestos permit programs. But that corpus is **sprawling and inconsistently typed**
    (Harbor Water Quality alone is 100 columns of free text; reservoir levels are cryptic SCADA tags), and
    the things a customer actually *does* — **pay a water bill, manage an account, and report a
    water-main break, sewer backup, or leak** — have **no single machine-readable contract**. Billing and
    account service are locked inside the uMAX Customer Information System (`a826-umax.dep.nyc.gov`,
    ASP.NET + Azure AD B2C); street conditions are funneled into generic NYC311.


    This contract does two things: (1) presents the open reference datasets as one clean, well-typed
    resource model, and (2) adds the one net-new **write** workflow — creating a **water service request**
    (report a problem) — that today has no owned, agent-native surface.


    Every resource schema is an individual JSON Schema file referenced by `$ref`. See `../schemas/`,
    `../crosswalk.md`, `../tech-stack.md`, and `../apis-observed.md`.
  contact:
    name: API Evangelist — NYC Modernization
    url: https://github.com/api-evangelist/nyc
servers:
  - url: https://api.dep.nyc.gov/v1
    description: Proposed production host (illustrative)
tags:
  - name: Water Supply
    description: Reservoir levels and citywide water consumption.
  - name: Water Quality
    description: Harbor, drinking-water distribution, watershed, and lead/copper sampling.
  - name: Green Infrastructure
    description: Stormwater green-infrastructure assets (rain gardens, bioswales, porous pavement).
  - name: Assets
    description: Distribution assets — hydrants and catch basins.
  - name: Permits
    description: DEP-issued water/sewer, clean-air (CATS), and asbestos permits.
  - name: Service Requests
    description: Report and track water/sewer problems (read + write). The net-new surface, today split between NYC311 and the uMAX billing portal.

paths:
  /reservoir-levels:
    get:
      operationId: listReservoirLevels
      summary: List reservoir levels across the NYC water-supply system
      tags: [Water Supply]
      parameters:
        - name: reservoir
          in: query
          schema: { type: string }
        - name: system
          in: query
          schema: { type: string, enum: [Catskill, Delaware, Croton] }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of reservoir-level observations.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/reservoir-level.json' } }

  /water-consumption:
    get:
      operationId: listWaterConsumption
      summary: Citywide water consumption by year
      tags: [Water Supply]
      parameters:
        - name: year
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string }
        - name: to
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of citywide water-consumption years.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/water-consumption.json' } }

  /water-quality:
    get:
      operationId: listWaterQuality
      summary: Search water-quality samples across DEP monitoring programs
      tags: [Water Quality]
      parameters:
        - name: program
          in: query
          schema: { type: string, enum: [Harbor, Drinking Water Distribution, Watershed, Lead and Copper, Reservoir] }
        - name: sampleSite
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/borough'
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of water-quality samples.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/water-quality.json' } }

  /green-infrastructure:
    get:
      operationId: listGreenInfrastructure
      summary: Search DEP green-infrastructure assets
      tags: [Green Infrastructure]
      parameters:
        - $ref: '#/components/parameters/borough'
        - name: assetType
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string }
        - name: councilDistrict
          in: query
          schema: { type: integer, minimum: 1, maximum: 51 }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of green-infrastructure assets.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/green-infrastructure.json' } }
  /green-infrastructure/{giId}:
    get:
      operationId: getGreenInfrastructure
      summary: Get a green-infrastructure asset by GI_ID
      tags: [Green Infrastructure]
      parameters:
        - name: giId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The green-infrastructure asset.
          content:
            application/json:
              schema: { $ref: '../schemas/green-infrastructure.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /hydrants:
    get:
      operationId: listHydrants
      summary: Search public fire hydrants
      tags: [Assets]
      parameters:
        - $ref: '#/components/parameters/borough'
        - name: communityBoard
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of hydrants.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/hydrant.json' } }
  /hydrants/{unitId}:
    get:
      operationId: getHydrant
      summary: Get a hydrant by UNITID
      tags: [Assets]
      parameters:
        - name: unitId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The hydrant.
          content:
            application/json:
              schema: { $ref: '../schemas/hydrant.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /permits:
    get:
      operationId: listPermits
      summary: Search DEP water/sewer, clean-air (CATS), and asbestos permits
      tags: [Permits]
      parameters:
        - name: permitType
          in: query
          schema: { type: string, enum: [Water and Sewer, Clean Air (CATS), Asbestos (ACP7)] }
        - name: status
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/borough'
        - name: block
          in: query
          schema: { type: string }
        - name: lot
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of permits.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/permit.json' } }

  /water-service-requests:
    get:
      operationId: listWaterServiceRequests
      summary: List the authenticated customer's water/sewer service requests
      description: Reads the customer's own DEP service requests and their status — today split between NYC311 and the uMAX My DEP Account portal.
      tags: [Service Requests]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [Submitted, Assigned, In Progress, Scheduled, On Hold, Resolved, Closed, Cancelled] }
        - name: category
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of the customer's service requests.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/water-service-request.json' } }
    post:
      operationId: createWaterServiceRequest
      summary: Report a water or sewer problem (create a service request)
      description: >-
        The net-new write surface — an API for reporting a water-main break, no water, a leak, a sewer
        backup, a clogged catch basin, a hydrant problem, discolored water, or a billing/account issue,
        replacing the split NYC311 + uMAX-portal workflow. Life-safety/property emergencies (water-main
        break, sewer backup into a home, flooding, no water) should set the `emergency` flag to true and
        are routed to DEP's 24-hour customer service.
      tags: [Service Requests]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/water-service-request.json' }
      responses:
        '201':
          description: Service request created.
          content:
            application/json:
              schema: { $ref: '../schemas/water-service-request.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /water-service-requests/{requestId}:
    get:
      operationId: getWaterServiceRequest
      summary: Get a water/sewer service request
      tags: [Service Requests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The service request.
          content:
            application/json:
              schema: { $ref: '../schemas/water-service-request.json' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ReservoirLevel: { $ref: '../schemas/reservoir-level.json' }
    WaterConsumption: { $ref: '../schemas/water-consumption.json' }
    WaterQualitySample: { $ref: '../schemas/water-quality.json' }
    GreenInfrastructure: { $ref: '../schemas/green-infrastructure.json' }
    Hydrant: { $ref: '../schemas/hydrant.json' }
    Permit: { $ref: '../schemas/permit.json' }
    WaterServiceRequest: { $ref: '../schemas/water-service-request.json' }
    PageMeta:
      type: object
      properties:
        meta:
          type: object
          properties:
            page: { type: integer }
            perPage: { type: integer }
            total: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
  parameters:
    borough:
      name: borough
      in: query
      schema: { type: string, enum: [Manhattan, Bronx, Brooklyn, Queens, Staten Island] }
    q:
      name: q
      in: query
      description: Free-text search.
      schema: { type: string }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
