{
 "openapi": "3.1.0",
 "info": {
  "title": "NYC \u2014 Programmable City (unified surface)",
  "version": "0.1.0",
  "summary": "Every NYC government API in one design-first contract \u2014 752 operations across 70 agencies, each mapped to an MCP tool and a common government-process Agent Skill.",
  "description": "A unified, design-first OpenAPI across all 67 assessed NYC government domains, generated by scripts/build-experience.py from each agency's own OpenAPI. Paths are namespaced by agency slug; every operation carries x-mcp-tool (its MCP tool) and x-agent-skill (one of ten common government-process skills). This is the machine artifact behind the single-page documentation at https://nyc.apievangelist.com/experience.html. Design-first \u2014 not a deployed gateway. Full per-operation detail lives in each agency's source OpenAPI (x-source-openapi).",
  "contact": {
   "name": "API Evangelist \u2014 NYC Modernization",
   "url": "https://github.com/api-evangelist/nyc"
  }
 },
 "servers": [
  {
   "url": "https://api.nyc.gov",
   "description": "Illustrative unified gateway host (design-first)."
  },
  {
   "url": "https://nyc.apievangelist.com/experience/api",
   "description": "Static reference API \u2014 example data at stable URLs, reads only (GitHub Pages)."
  }
 ],
 "x-apis-io": {
  "mcp": {
   "definition": "https://raw.githubusercontent.com/api-evangelist/nyc/main/experience/nyc-mcp.json",
   "note": "NYC-wide MCP gateway (design-first)."
  },
  "mcpInstall": "https://install.apicommons.org/?server=https://raw.githubusercontent.com/api-evangelist/nyc/main/experience/mcp-server/server.json",
  "mcpPackage": "@api-common/nyc-mcp",
  "referenceApi": {
   "base": "https://nyc.apievangelist.com/experience/api",
   "catalog": "https://nyc.apievangelist.com/experience/api/index.json",
   "note": "Example data synthesized from the agency schemas; GET-callable, reads only."
  },
  "agentSkills": {
   "index": "https://nyc.apievangelist.com/experience/skills/index.json",
   "count": 10
  },
  "prompts": [
   {
    "name": "who_represents_this_address",
    "description": "Given a NYC address, return the council member, community board, borough, and every district that represents it.",
    "uses": [
     "look-up-a-property-or-place"
    ],
    "arguments": [
     "address"
    ]
   },
   {
    "name": "everything_about_this_place",
    "description": "Everything the city knows about a BBL/BIN/address across agencies \u2014 buildings, housing, environment, complaints, landmarks.",
    "uses": [
     "look-up-a-property-or-place",
     "search-city-data-and-records"
    ],
    "arguments": [
     "address_or_bbl"
    ]
   },
   {
    "name": "how_do_i_apply_for",
    "description": "Explain how to apply for a given permit, license, or benefit and start the application with the owning agency.",
    "uses": [
     "apply-for-a-permit-license-or-benefit"
    ],
    "arguments": [
     "what"
    ]
   },
   {
    "name": "report_a_problem_at",
    "description": "File a 311-style report or complaint for a location and route it to the owning agency.",
    "uses": [
     "report-a-problem-or-file-a-complaint"
    ],
    "arguments": [
     "problem",
     "location"
    ]
   },
   {
    "name": "whats_the_status_of_my",
    "description": "Look up the status of an application, permit, complaint, or case across agencies by its id.",
    "uses": [
     "check-application-or-case-status"
    ],
    "arguments": [
     "case_id"
    ]
   },
   {
    "name": "what_agency_handles",
    "description": "Identify which NYC agency owns a given task or record and hand off to its tools.",
    "uses": [
     "search-city-data-and-records"
    ],
    "arguments": [
     "task"
    ]
   },
   {
    "name": "find_a_service_near_me",
    "description": "Find city services or facilities near a location (parks, libraries, clinics, offices).",
    "uses": [
     "look-up-a-property-or-place"
    ],
    "arguments": [
     "location",
     "service_type"
    ]
   }
  ],
  "resources": [
   {
    "uri": "nyc://catalog",
    "name": "NYC API catalog",
    "description": "All 67 agency APIs with their OpenAPI, MCP server, and Agent Skills.",
    "mimeType": "application/json",
    "backing": "data/manifest.json"
   },
   {
    "uri": "nyc://commons/geography",
    "name": "nyc-commons geography spine",
    "description": "The shared Borough / BBL / BIN / district vocabulary every place resolves to.",
    "mimeType": "application/schema+json",
    "backing": "nyc-commons/geography.json"
   },
   {
    "uri": "nyc://transactions",
    "name": "Citizen-transaction taxonomy",
    "description": "The common government processes (Apply, Report, Request-records, Schedule, Register, Dispute, Pay) and the domains behind each.",
    "mimeType": "application/json",
    "backing": "data/transactions.json"
   },
   {
    "uri": "nyc://linkage",
    "name": "Cross-agency key registry",
    "description": "The join keys (BBL, BIN, council district, ...) that link one agency's records to another's.",
    "mimeType": "application/json",
    "backing": "data/linkage.json"
   },
   {
    "uri": "nyc://skills",
    "name": "Government-process skills index",
    "description": "The ten common government-process Agent Skills and the operations each orchestrates.",
    "mimeType": "application/json",
    "backing": "experience/skills/index.json"
   },
   {
    "uri": "nyc://place/{bbl}",
    "name": "Resolved place (templated)",
    "description": "A nyc-commons Place for a BBL \u2014 its geography spine plus the agencies keyed on it.",
    "mimeType": "application/json",
    "template": true
   },
   {
    "uri": "nyc://agency/{slug}",
    "name": "Agency profile (templated)",
    "description": "One agency's API + MCP + skills profile.",
    "mimeType": "application/json",
    "template": true
   }
  ],
  "operations": {
   "listParks": {
    "mcpTool": "find_parks",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nycgovparks.org"
   },
   "getPark": {
    "mcpTool": "get_park",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nycgovparks.org"
   },
   "listParkFacilities": {
    "mcpTool": "list_park_facilities",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nycgovparks.org"
   },
   "listFacilities": {
    "mcpTool": "find_facilities",
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "getFacility": {
    "mcpTool": "get_facility",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hhc"
   },
   "listEvents": {
    "mcpTool": "find_events",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandbp"
   },
   "getEvent": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "brooklynbp"
   },
   "listMonuments": {
    "mcpTool": "find_monuments",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycgovparks.org"
   },
   "getMonument": {
    "mcpTool": "get_monument",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycgovparks.org"
   },
   "listTrees": {
    "mcpTool": "find_trees",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycgovparks.org"
   },
   "getTree": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nycgovparks.org"
   },
   "listCapitalProjects": {
    "mcpTool": "find_capital_projects",
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "getCapitalProject": {
    "mcpTool": "get_capital_project",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "sca"
   },
   "listPermitApplications": {
    "mcpTool": "list_my_permit_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "mome"
   },
   "createPermitApplication": {
    "mcpTool": "apply_for_film_permit",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "mome"
   },
   "getPermitApplication": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "mome"
   },
   "updatePermitApplication": {
    "mcpTool": "update_permit_application",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "nycgovparks.org"
   },
   "listSchools": {
    "mcpTool": "find_schools",
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "getSchool": {
    "mcpTool": "get_school",
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "getSchoolDemographics": {
    "mcpTool": "get_school_demographics",
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "getSchoolTestResults": {
    "mcpTool": "get_school_test_results",
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "listDemographics": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "listTestResults": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "listCalendarEvents": {
    "mcpTool": "find_calendar_events",
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "listEnrollmentApplications": {
    "mcpTool": "list_enrollment_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "schools.nyc.gov"
   },
   "createEnrollmentApplication": {
    "mcpTool": "submit_enrollment_application",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "schools.nyc.gov"
   },
   "getEnrollmentApplication": {
    "mcpTool": "check_application_status",
    "agentSkill": "check-application-or-case-status",
    "domain": "schools.nyc.gov"
   },
   "updateEnrollmentApplication": {
    "mcpTool": "update_enrollment_application",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "schools.nyc.gov"
   },
   "listMembers": {
    "mcpTool": "find_members",
    "agentSkill": "search-city-data-and-records",
    "domain": "council.nyc.gov"
   },
   "getMember": {
    "mcpTool": "get_member",
    "agentSkill": "search-city-data-and-records",
    "domain": "council.nyc.gov"
   },
   "getMemberLegislation": {
    "mcpTool": "get_member_legislation",
    "agentSkill": "search-city-data-and-records",
    "domain": "council.nyc.gov"
   },
   "listDistricts": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "council.nyc.gov"
   },
   "getDistrict": {
    "mcpTool": "get_district",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "council.nyc.gov"
   },
   "listCommittees": {
    "mcpTool": "find_committees",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "getCommittee": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "listLegislation": {
    "mcpTool": "find_legislation",
    "agentSkill": "search-city-data-and-records",
    "domain": "pubadvocate"
   },
   "getLegislation": {
    "mcpTool": "get_legislation",
    "agentSkill": "search-city-data-and-records",
    "domain": "council.nyc.gov"
   },
   "listMeetings": {
    "mcpTool": "find_meetings",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "getMeeting": {
    "mcpTool": "get_meeting",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "listDiscretionaryFunding": {
    "mcpTool": "find_discretionary_funding",
    "agentSkill": "search-city-data-and-records",
    "domain": "council.nyc.gov"
   },
   "listTestimonyRegistrations": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "council.nyc.gov"
   },
   "createTestimonyRegistration": {
    "mcpTool": "register_testimony",
    "agentSkill": "register-or-enroll",
    "domain": "council.nyc.gov"
   },
   "getTestimonyRegistration": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "council.nyc.gov"
   },
   "listPollSites": {
    "mcpTool": "find_poll_site",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "vote.nyc"
   },
   "getPollSite": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "vote.nyc"
   },
   "getElectionDistrict": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "vote.nyc"
   },
   "listElections": {
    "mcpTool": "list_elections",
    "agentSkill": "search-city-data-and-records",
    "domain": "vote.nyc"
   },
   "getElection": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "vote.nyc"
   },
   "listContests": {
    "mcpTool": "find_contests",
    "agentSkill": "search-city-data-and-records",
    "domain": "vote.nyc"
   },
   "listCandidates": {
    "mcpTool": "find_candidates",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "listResults": {
    "mcpTool": "get_results",
    "agentSkill": "search-city-data-and-records",
    "domain": "vote.nyc"
   },
   "listMailBallotRequests": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "vote.nyc"
   },
   "createMailBallotRequest": {
    "mcpTool": "request_mail_ballot",
    "agentSkill": "register-or-enroll",
    "domain": "vote.nyc"
   },
   "getMailBallotRequest": {
    "mcpTool": "track_mail_ballot",
    "agentSkill": "check-application-or-case-status",
    "domain": "vote.nyc"
   },
   "getDiscovery": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nyc311"
   },
   "listServices": {
    "mcpTool": "find_services",
    "agentSkill": "search-city-data-and-records",
    "domain": "ocme"
   },
   "getServiceDefinition": {
    "mcpTool": "get_service_definition",
    "agentSkill": "search-city-data-and-records",
    "domain": "nyc311"
   },
   "listServiceRequests": {
    "mcpTool": "find_service_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "createServiceRequest": {
    "mcpTool": "submit_service_request",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "nyc311"
   },
   "getServiceRequest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "listAgencies": {
    "mcpTool": "get_agencies",
    "agentSkill": "search-city-data-and-records",
    "domain": "nyc311"
   },
   "listBuildings": {
    "mcpTool": "find_buildings",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "lpc"
   },
   "getBuilding": {
    "mcpTool": "get_building",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hpd"
   },
   "getBuildingFilings": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dob"
   },
   "listJobFilings": {
    "mcpTool": "find_job_filings",
    "agentSkill": "search-city-data-and-records",
    "domain": "dob"
   },
   "getJobFiling": {
    "mcpTool": "get_job_filing",
    "agentSkill": "search-city-data-and-records",
    "domain": "dob"
   },
   "listPermits": {
    "mcpTool": "find_permits",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "getPermit": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dob"
   },
   "listViolations": {
    "mcpTool": "find_violations",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "lpc"
   },
   "getViolation": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "bic"
   },
   "listComplaints": {
    "mcpTool": "list_my_complaints",
    "agentSkill": "search-city-data-and-records",
    "domain": "doi"
   },
   "getComplaint": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "doi"
   },
   "listCertificatesOfOccupancy": {
    "mcpTool": "find_certificates_of_occupancy",
    "agentSkill": "search-city-data-and-records",
    "domain": "dob"
   },
   "getCertificateOfOccupancy": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dob"
   },
   "submitPermitApplication": {
    "mcpTool": "submit_permit_application",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "dob"
   },
   "getBuildingViolations": {
    "mcpTool": "get_building_violations",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hpd"
   },
   "getBuildingComplaints": {
    "mcpTool": "get_building_complaints",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hpd"
   },
   "createComplaint": {
    "mcpTool": "file_complaint",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "doi"
   },
   "listRegistrations": {
    "mcpTool": "find_registrations",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hpd"
   },
   "getRegistration": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hpd"
   },
   "listLitigation": {
    "mcpTool": "find_litigation",
    "agentSkill": "search-city-data-and-records",
    "domain": "hpd"
   },
   "getLitigation": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hpd"
   },
   "listAffordableHousingProjects": {
    "mcpTool": "find_affordable_housing",
    "agentSkill": "search-city-data-and-records",
    "domain": "hpd"
   },
   "getAffordableHousingProject": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hpd"
   },
   "listLotteryApplications": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hpd"
   },
   "createLotteryApplication": {
    "mcpTool": "apply_to_lottery",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "hpd"
   },
   "getLotteryApplication": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hpd"
   },
   "listBikeRoutes": {
    "mcpTool": "find_bike_routes",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "getBikeRoute": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "listTrafficSignals": {
    "mcpTool": "find_traffic_signals",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "getTrafficSignal": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "listParkingRegulations": {
    "mcpTool": "find_parking_regulations",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "listSpeedHumps": {
    "mcpTool": "find_speed_humps",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "listPlazas": {
    "mcpTool": "find_plazas",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "getPlaza": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "listBridges": {
    "mcpTool": "find_bridges",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "getBridge": {
    "mcpTool": "get_bridge",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dot"
   },
   "listStreetWorkPermits": {
    "mcpTool": "find_street_work_permits",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "createStreetWorkPermit": {
    "mcpTool": "apply_street_work_permit",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "dot"
   },
   "getStreetWorkPermit": {
    "mcpTool": "get_street_work_permit",
    "agentSkill": "search-city-data-and-records",
    "domain": "dot"
   },
   "listFoodEstablishments": {
    "mcpTool": "find_food_establishments",
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "getFoodEstablishment": {
    "mcpTool": "get_food_establishment",
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "getFoodEstablishmentInspections": {
    "mcpTool": "get_food_establishment_inspections",
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "listInspections": {
    "mcpTool": "find_inspections",
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "listRodentInspections": {
    "mcpTool": "find_rodent_inspections",
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "listChildcareCenters": {
    "mcpTool": "find_childcare_centers",
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "getChildcareCenter": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "listHealthFacilities": {
    "mcpTool": "find_health_facilities",
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "listVitalRecordRequests": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dohmh"
   },
   "createVitalRecordRequest": {
    "mcpTool": "order_vital_record",
    "agentSkill": "request-public-records",
    "domain": "dohmh"
   },
   "getVitalRecordRequest": {
    "mcpTool": "track_vital_record_request",
    "agentSkill": "check-application-or-case-status",
    "domain": "dohmh"
   },
   "getCollectionSchedule": {
    "mcpTool": "get_collection_schedule",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dsny"
   },
   "listSanitationDistricts": {
    "mcpTool": "find_districts",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dsny"
   },
   "getSanitationDistrict": {
    "mcpTool": "get_district",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dsny"
   },
   "listDropOffSites": {
    "mcpTool": "find_drop_off_sites",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dsny"
   },
   "getDropOffSite": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dsny"
   },
   "listLitterBaskets": {
    "mcpTool": "find_litter_baskets",
    "agentSkill": "search-city-data-and-records",
    "domain": "dsny"
   },
   "getLitterBasket": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dsny"
   },
   "listTonnage": {
    "mcpTool": "find_tonnage",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dsny"
   },
   "listBulkPickupRequests": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dsny"
   },
   "createBulkPickupRequest": {
    "mcpTool": "schedule_bulk_pickup",
    "agentSkill": "schedule-or-reserve",
    "domain": "dsny"
   },
   "getBulkPickupRequest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dsny"
   },
   "listArrests": {
    "mcpTool": "find_arrests",
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "getArrest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "listShootingIncidents": {
    "mcpTool": "find_shooting_incidents",
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "getShootingIncident": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "listPrecincts": {
    "mcpTool": "find_precincts",
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "getPrecinct": {
    "mcpTool": "get_precinct",
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "listOfficers": {
    "mcpTool": "find_officers",
    "agentSkill": "search-city-data-and-records",
    "domain": "ccrb"
   },
   "getOfficer": {
    "mcpTool": "get_officer",
    "agentSkill": "search-city-data-and-records",
    "domain": "ccrb"
   },
   "listPoliceReportRequests": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "createPoliceReportRequest": {
    "mcpTool": "request_police_report",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "nypd"
   },
   "getPoliceReportRequest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nypd"
   },
   "listTripRecords": {
    "mcpTool": "find_trip_records",
    "agentSkill": "search-city-data-and-records",
    "domain": "tlc"
   },
   "listVehicles": {
    "mcpTool": "find_vehicles",
    "agentSkill": "search-city-data-and-records",
    "domain": "bic"
   },
   "getVehicle": {
    "mcpTool": "get_vehicle",
    "agentSkill": "search-city-data-and-records",
    "domain": "tlc"
   },
   "listDrivers": {
    "mcpTool": "find_drivers",
    "agentSkill": "search-city-data-and-records",
    "domain": "tlc"
   },
   "getDriver": {
    "mcpTool": "get_driver",
    "agentSkill": "search-city-data-and-records",
    "domain": "tlc"
   },
   "listBases": {
    "mcpTool": "find_bases",
    "agentSkill": "search-city-data-and-records",
    "domain": "tlc"
   },
   "getBase": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "tlc"
   },
   "listTaxiZones": {
    "mcpTool": "find_taxi_zones",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "tlc"
   },
   "getTaxiZone": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "tlc"
   },
   "listLicenseApplications": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "tlc"
   },
   "createLicenseApplication": {
    "mcpTool": "apply_for_license",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "tlc"
   },
   "getLicenseApplication": {
    "mcpTool": "get_application_status",
    "agentSkill": "check-application-or-case-status",
    "domain": "tlc"
   },
   "listLots": {
    "mcpTool": "find_lots",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "getLot": {
    "mcpTool": "lookup_lot",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "listZoningDistricts": {
    "mcpTool": "find_zoning",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "getZoningDistrict": {
    "mcpTool": "get_zoning",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "listCommunityDistricts": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "getCommunityDistrict": {
    "mcpTool": "get_community_district",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "listNtas": {
    "mcpTool": "find_ntas",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "getNta": {
    "mcpTool": "get_nta",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "getCensusTract": {
    "mcpTool": "get_census_tract",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dcp"
   },
   "listLandUseApplications": {
    "mcpTool": "find_land_use_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcp"
   },
   "getLandUseApplication": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dcp"
   },
   "geocode": {
    "mcpTool": "geocode",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "oti"
   },
   "listSpending": {
    "mcpTool": "find_spending",
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "getSpendingTransaction": {
    "mcpTool": "get_spending_transaction",
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "listContracts": {
    "mcpTool": "find_contracts",
    "agentSkill": "search-city-data-and-records",
    "domain": "dycd"
   },
   "getContract": {
    "mcpTool": "get_contract",
    "agentSkill": "search-city-data-and-records",
    "domain": "ddc"
   },
   "listAudits": {
    "mcpTool": "find_audits",
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "getAudit": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "listClaims": {
    "mcpTool": "find_claims",
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "listClaimFilings": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "createClaimFiling": {
    "mcpTool": "file_claim",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "comptroller.nyc.gov"
   },
   "getClaimFiling": {
    "mcpTool": "get_claim_filing",
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "listPensionHoldings": {
    "mcpTool": "find_pension_holdings",
    "agentSkill": "search-city-data-and-records",
    "domain": "comptroller.nyc.gov"
   },
   "listDevelopments": {
    "mcpTool": "find_developments",
    "agentSkill": "search-city-data-and-records",
    "domain": "hdc"
   },
   "getDevelopment": {
    "mcpTool": "get_development",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hdc"
   },
   "getDevelopmentAddresses": {
    "mcpTool": "get_development_addresses",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nycha"
   },
   "listAddresses": {
    "mcpTool": "find_addresses",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nycha"
   },
   "listUtilityConsumption": {
    "mcpTool": "find_utility_consumption",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycha"
   },
   "listResidentStatistics": {
    "mcpTool": "find_resident_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycha"
   },
   "listWorkOrders": {
    "mcpTool": "list_my_work_orders",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycha"
   },
   "createWorkOrder": {
    "mcpTool": "report_repair",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "nycha"
   },
   "getWorkOrder": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nycha"
   },
   "listProviders": {
    "mcpTool": "find_providers",
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "getProvider": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "listChildWelfareIndicators": {
    "mcpTool": "find_child_welfare_indicators",
    "agentSkill": "search-city-data-and-records",
    "domain": "acs"
   },
   "listPreventionServices": {
    "mcpTool": "find_prevention_services",
    "agentSkill": "search-city-data-and-records",
    "domain": "acs"
   },
   "listFosterCareStatistics": {
    "mcpTool": "find_foster_care_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "acs"
   },
   "listJuvenileJusticeStatistics": {
    "mcpTool": "find_juvenile_justice_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "acs"
   },
   "listChildCareComplaints": {
    "mcpTool": "list_my_complaints",
    "agentSkill": "search-city-data-and-records",
    "domain": "acs"
   },
   "createChildCareComplaint": {
    "mcpTool": "report_child_care_concern",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "acs"
   },
   "getChildCareComplaint": {
    "mcpTool": "get_complaint",
    "agentSkill": "search-city-data-and-records",
    "domain": "acs"
   },
   "listLicensees": {
    "mcpTool": "find_licensees",
    "agentSkill": "search-city-data-and-records",
    "domain": "bic"
   },
   "getLicensee": {
    "mcpTool": "get_licensee",
    "agentSkill": "search-city-data-and-records",
    "domain": "bic"
   },
   "getLicenseeVehicles": {
    "mcpTool": "get_licensee_vehicles",
    "agentSkill": "search-city-data-and-records",
    "domain": "bic"
   },
   "listRegistrants": {
    "mcpTool": "find_registrants",
    "agentSkill": "search-city-data-and-records",
    "domain": "bic"
   },
   "listMarketBusinesses": {
    "mcpTool": "find_market_businesses",
    "agentSkill": "search-city-data-and-records",
    "domain": "bic"
   },
   "listApplications": {
    "mcpTool": "list_my_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "hra"
   },
   "createApplication": {
    "mcpTool": "apply_for_benefits",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "hra"
   },
   "getApplication": {
    "mcpTool": "get_application",
    "agentSkill": "search-city-data-and-records",
    "domain": "hra"
   },
   "listBranches": {
    "mcpTool": "find_branches",
    "agentSkill": "search-city-data-and-records",
    "domain": "queenslibrary"
   },
   "getBranch": {
    "mcpTool": "get_branch",
    "agentSkill": "search-city-data-and-records",
    "domain": "queenslibrary"
   },
   "searchCatalog": {
    "mcpTool": "search_catalog",
    "agentSkill": "search-city-data-and-records",
    "domain": "bklynlibrary"
   },
   "getCatalogItem": {
    "mcpTool": "get_catalog_item",
    "agentSkill": "search-city-data-and-records",
    "domain": "queenslibrary"
   },
   "listDigitalCollections": {
    "mcpTool": "find_digital_collections",
    "agentSkill": "search-city-data-and-records",
    "domain": "queenslibrary"
   },
   "listElectronicResources": {
    "mcpTool": "find_electronic_resources",
    "agentSkill": "search-city-data-and-records",
    "domain": "bklynlibrary"
   },
   "getMyLibraryCard": {
    "mcpTool": "get_my_library_card",
    "agentSkill": "search-city-data-and-records",
    "domain": "bklynlibrary"
   },
   "applyForLibraryCard": {
    "mcpTool": "apply_for_library_card",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "queenslibrary"
   },
   "listMyHolds": {
    "mcpTool": "list_my_holds",
    "agentSkill": "search-city-data-and-records",
    "domain": "bklynlibrary"
   },
   "placeHold": {
    "mcpTool": "place_hold",
    "agentSkill": "schedule-or-reserve",
    "domain": "queenslibrary"
   },
   "getHold": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "queenslibrary"
   },
   "listLandUseRecommendations": {
    "mcpTool": "find_land_use_recommendations",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "statenislandbp"
   },
   "getLandUseRecommendation": {
    "mcpTool": "get_land_use_recommendation",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandbp"
   },
   "listCommunityBoardAppointments": {
    "mcpTool": "find_community_board_appointments",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandbp"
   },
   "listDiscretionaryFundingAwards": {
    "mcpTool": "find_discretionary_funding_awards",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "statenislandbp"
   },
   "listPressReleases": {
    "mcpTool": "find_press_releases",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandda"
   },
   "getPressRelease": {
    "mcpTool": "get_press_release",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandda"
   },
   "listCommunityBoardApplications": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandbp"
   },
   "createCommunityBoardApplication": {
    "mcpTool": "apply_to_community_board",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "statenislandbp"
   },
   "getCommunityBoardApplication": {
    "mcpTool": "get_community_board_application",
    "agentSkill": "check-application-or-case-status",
    "domain": "queensbp"
   },
   "listCaseStatistics": {
    "mcpTool": "find_case_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "ocme"
   },
   "listPrograms": {
    "mcpTool": "find_programs",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandda"
   },
   "listCommunityResources": {
    "mcpTool": "find_community_resources",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandda"
   },
   "listVictimServices": {
    "mcpTool": "find_victim_services",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandda"
   },
   "createSubmission": {
    "mcpTool": "submit_tip",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "queensda"
   },
   "getSubmission": {
    "mcpTool": null,
    "agentSkill": "check-application-or-case-status",
    "domain": "queensda"
   },
   "listCommunityBoards": {
    "mcpTool": "find_community_boards",
    "agentSkill": "search-city-data-and-records",
    "domain": "queensbp"
   },
   "getCommunityBoard": {
    "mcpTool": "get_community_board",
    "agentSkill": "search-city-data-and-records",
    "domain": "queensbp"
   },
   "listBoardAppointments": {
    "mcpTool": "find_board_appointments",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "manhattanbp"
   },
   "listFundingAwards": {
    "mcpTool": "find_funding_awards",
    "agentSkill": "search-city-data-and-records",
    "domain": "manhattanbp"
   },
   "listReports": {
    "mcpTool": "find_reports",
    "agentSkill": "search-city-data-and-records",
    "domain": "pubadvocate"
   },
   "getProgram": {
    "mcpTool": "get_program",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandda"
   },
   "submitTip": {
    "mcpTool": "submit_tip",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "statenislandda"
   },
   "getTip": {
    "mcpTool": "get_tip",
    "agentSkill": "check-application-or-case-status",
    "domain": "statenislandda"
   },
   "getApplicationResolution": {
    "mcpTool": "get_application_resolution",
    "agentSkill": "search-city-data-and-records",
    "domain": "bsa"
   },
   "listResolutions": {
    "mcpTool": "find_resolutions",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "statenislandbp"
   },
   "listHearings": {
    "mcpTool": "find_hearings",
    "agentSkill": "search-city-data-and-records",
    "domain": "bsa"
   },
   "listPreApplicationMeetings": {
    "mcpTool": "find_pre_application_meetings",
    "agentSkill": "search-city-data-and-records",
    "domain": "bsa"
   },
   "listZoningLots": {
    "mcpTool": "find_zoning_lots",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "bsa"
   },
   "listVarianceApplications": {
    "mcpTool": "list_my_variance_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "bsa"
   },
   "createVarianceApplication": {
    "mcpTool": "file_variance_application",
    "agentSkill": "dispute-or-appeal",
    "domain": "bsa"
   },
   "getVarianceApplication": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "bsa"
   },
   "listProtectedClasses": {
    "mcpTool": "find_protected_classes",
    "agentSkill": "search-city-data-and-records",
    "domain": "cchr"
   },
   "listLegalGuidance": {
    "mcpTool": "find_legal_guidance",
    "agentSkill": "search-city-data-and-records",
    "domain": "cchr"
   },
   "listTrainingEvents": {
    "mcpTool": "find_training_events",
    "agentSkill": "search-city-data-and-records",
    "domain": "cchr"
   },
   "listInquiryStatistics": {
    "mcpTool": "find_inquiry_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "cchr"
   },
   "listResolutionStatistics": {
    "mcpTool": "find_resolution_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "cchr"
   },
   "getComplaintAllegations": {
    "mcpTool": "get_complaint_allegations",
    "agentSkill": "search-city-data-and-records",
    "domain": "ccrb"
   },
   "listAllegations": {
    "mcpTool": "find_allegations",
    "agentSkill": "search-city-data-and-records",
    "domain": "ccrb"
   },
   "listPenalties": {
    "mcpTool": "find_penalties",
    "agentSkill": "search-city-data-and-records",
    "domain": "ccrb"
   },
   "fileMisconductComplaint": {
    "mcpTool": "file_misconduct_complaint",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "ccrb"
   },
   "getMisconductComplaintStatus": {
    "mcpTool": "check_complaint_status",
    "agentSkill": "check-application-or-case-status",
    "domain": "ccrb"
   },
   "getCandidate": {
    "mcpTool": "get_candidate",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "listContributions": {
    "mcpTool": "find_contributions",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "listExpenditures": {
    "mcpTool": "find_expenditures",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "listPublicFundsPayments": {
    "mcpTool": "find_public_funds_payments",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "listDisclosureFilings": {
    "mcpTool": "find_disclosure_filings",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "createDisclosureFiling": {
    "mcpTool": "file_disclosure",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "cfb"
   },
   "getDisclosureFiling": {
    "mcpTool": "get_disclosure_filing",
    "agentSkill": "search-city-data-and-records",
    "domain": "cfb"
   },
   "listAppointments": {
    "mcpTool": "list_my_appointments",
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "createMarriageLicenseApplication": {
    "mcpTool": "apply_for_marriage_license",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "cityclerk"
   },
   "getMarriageLicenseApplication": {
    "mcpTool": "get_marriage_license_application",
    "agentSkill": "check-application-or-case-status",
    "domain": "cityclerk"
   },
   "getMarriageLicense": {
    "mcpTool": "get_marriage_license",
    "agentSkill": "search-city-data-and-records",
    "domain": "cityclerk"
   },
   "listLobbyistRegistrations": {
    "mcpTool": "find_lobbyist_registrations",
    "agentSkill": "search-city-data-and-records",
    "domain": "cityclerk"
   },
   "getLobbyistRegistration": {
    "mcpTool": "get_lobbyist_registration",
    "agentSkill": "search-city-data-and-records",
    "domain": "cityclerk"
   },
   "listLobbyistFilings": {
    "mcpTool": "find_lobbyist_filings",
    "agentSkill": "search-city-data-and-records",
    "domain": "cityclerk"
   },
   "listFundraisingReports": {
    "mcpTool": "find_fundraising_reports",
    "agentSkill": "search-city-data-and-records",
    "domain": "cityclerk"
   },
   "listEnforcementDispositions": {
    "mcpTool": "find_enforcement_dispositions",
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "getEnforcementDisposition": {
    "mcpTool": "get_enforcement_disposition",
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "listAgencyDonations": {
    "mcpTool": "find_agency_donations",
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "listPolicymakers": {
    "mcpTool": "find_policymakers",
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "listLegalDefenseTrustTransactions": {
    "mcpTool": "find_legal_defense_trust_transactions",
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "listAdvisoryOpinions": {
    "mcpTool": "find_advisory_opinions",
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "getAdvisoryOpinion": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "listFinancialDisclosureFilings": {
    "mcpTool": "list_my_financial_disclosure_filings",
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "createFinancialDisclosureFiling": {
    "mcpTool": "file_financial_disclosure",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "coib"
   },
   "getFinancialDisclosureFiling": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "coib"
   },
   "listCampuses": {
    "mcpTool": "find_campuses",
    "agentSkill": "search-city-data-and-records",
    "domain": "cuny"
   },
   "getCampus": {
    "mcpTool": "get_campus",
    "agentSkill": "search-city-data-and-records",
    "domain": "cuny"
   },
   "listCourses": {
    "mcpTool": "find_courses",
    "agentSkill": "search-city-data-and-records",
    "domain": "cuny"
   },
   "listEnrollmentStatistics": {
    "mcpTool": "find_enrollment_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "cuny"
   },
   "listFacultyResearch": {
    "mcpTool": "find_faculty_research",
    "agentSkill": "search-city-data-and-records",
    "domain": "cuny"
   },
   "listJobPostings": {
    "mcpTool": "find_job_postings",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "getJobPosting": {
    "mcpTool": "get_job_posting",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "listCivilServiceTitles": {
    "mcpTool": "find_civil_service_titles",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "getCivilServiceTitle": {
    "mcpTool": "get_civil_service_title",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "listEligibleListEntries": {
    "mcpTool": "find_eligible_list_entries",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "listExamSchedule": {
    "mcpTool": "find_exam_schedule",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "getExam": {
    "mcpTool": "get_exam",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "listExamRegistrations": {
    "mcpTool": "list_my_exam_registrations",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "createExamRegistration": {
    "mcpTool": "register_for_exam",
    "agentSkill": "register-or-enroll",
    "domain": "dcas"
   },
   "getExamRegistration": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "listFleet": {
    "mcpTool": "find_fleet",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcas"
   },
   "listCulturalOrganizations": {
    "mcpTool": "find_cultural_organizations",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "getCulturalOrganization": {
    "mcpTool": "get_cultural_organization",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "listProgramFunding": {
    "mcpTool": "find_program_funding",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "listCapitalFunding": {
    "mcpTool": "find_capital_funding",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "listCulturalInstitutions": {
    "mcpTool": "find_cultural_institutions",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "listPublicArtworks": {
    "mcpTool": "find_public_artworks",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "listMaterialsForTheArts": {
    "mcpTool": "find_materials_for_the_arts",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "listGrantApplications": {
    "mcpTool": "list_my_grant_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "createGrantApplication": {
    "mcpTool": "apply_for_grant",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "dcla"
   },
   "getGrantApplication": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dcla"
   },
   "listLicenses": {
    "mcpTool": "find_licenses",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcwp"
   },
   "getLicense": {
    "mcpTool": "get_license",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcwp"
   },
   "listCharges": {
    "mcpTool": "find_charges",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcwp"
   },
   "listConsumerComplaints": {
    "mcpTool": "find_consumer_complaints",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcwp"
   },
   "fileConsumerComplaint": {
    "mcpTool": "file_complaint",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "dcwp"
   },
   "getConsumerComplaint": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dcwp"
   },
   "listWorkerProtectionCases": {
    "mcpTool": "find_worker_protection_cases",
    "agentSkill": "search-city-data-and-records",
    "domain": "dcwp"
   },
   "listProjects": {
    "mcpTool": "find_projects",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "getProject": {
    "mcpTool": "get_project",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "getProjectContracts": {
    "mcpTool": "get_project_contracts",
    "agentSkill": "search-city-data-and-records",
    "domain": "ddc"
   },
   "listVendors": {
    "mcpTool": "find_vendors",
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "listDivisions": {
    "mcpTool": "find_divisions",
    "agentSkill": "search-city-data-and-records",
    "domain": "law"
   },
   "listSolicitations": {
    "mcpTool": "find_solicitations",
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "listPrequalifications": {
    "mcpTool": "list_my_prequalifications",
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "createPrequalification": {
    "mcpTool": "apply_for_prequalification",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "sca"
   },
   "getPrequalification": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "listReservoirLevels": {
    "mcpTool": "find_reservoir_levels",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "listWaterConsumption": {
    "mcpTool": "find_water_consumption",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "listWaterQuality": {
    "mcpTool": "find_water_quality",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "listGreenInfrastructure": {
    "mcpTool": "find_green_infrastructure",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "getGreenInfrastructure": {
    "mcpTool": "get_green_infrastructure",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "listHydrants": {
    "mcpTool": "find_hydrants",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "getHydrant": {
    "mcpTool": "get_hydrant",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "listWaterServiceRequests": {
    "mcpTool": "list_my_service_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "createWaterServiceRequest": {
    "mcpTool": "report_water_problem",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "dep"
   },
   "getWaterServiceRequest": {
    "mcpTool": "get_service_request",
    "agentSkill": "search-city-data-and-records",
    "domain": "dep"
   },
   "listOlderAdultCenters": {
    "mcpTool": "find_older_adult_centers",
    "agentSkill": "search-city-data-and-records",
    "domain": "dfta"
   },
   "listActivities": {
    "mcpTool": "find_activities",
    "agentSkill": "search-city-data-and-records",
    "domain": "dfta"
   },
   "listServiceUnits": {
    "mcpTool": "find_service_units",
    "agentSkill": "search-city-data-and-records",
    "domain": "dfta"
   },
   "listParticipation": {
    "mcpTool": "find_participation",
    "agentSkill": "search-city-data-and-records",
    "domain": "dfta"
   },
   "listReferrals": {
    "mcpTool": "list_my_referrals",
    "agentSkill": "search-city-data-and-records",
    "domain": "dvs"
   },
   "createReferral": {
    "mcpTool": "make_referral",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "dvs"
   },
   "getReferral": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dvs"
   },
   "listShelterCensus": {
    "mcpTool": "find_shelter_census",
    "agentSkill": "search-city-data-and-records",
    "domain": "dhs"
   },
   "getShelterCensusForDate": {
    "mcpTool": "get_shelter_census",
    "agentSkill": "search-city-data-and-records",
    "domain": "dhs"
   },
   "listDropInCenters": {
    "mcpTool": "find_drop_in_centers",
    "agentSkill": "search-city-data-and-records",
    "domain": "dhs"
   },
   "listContacts": {
    "mcpTool": "find_contacts",
    "agentSkill": "search-city-data-and-records",
    "domain": "dhs"
   },
   "listStreetHomelessCounts": {
    "mcpTool": "find_street_homeless_counts",
    "agentSkill": "search-city-data-and-records",
    "domain": "dhs"
   },
   "listOutreachRequests": {
    "mcpTool": "list_my_outreach_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "dhs"
   },
   "createOutreachRequest": {
    "mcpTool": "request_outreach",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "dhs"
   },
   "getOutreachRequest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dhs"
   },
   "listPeopleInCustody": {
    "mcpTool": "find_people_in_custody",
    "agentSkill": "search-city-data-and-records",
    "domain": "doc"
   },
   "getPersonInCustody": {
    "mcpTool": "get_person_in_custody",
    "agentSkill": "search-city-data-and-records",
    "domain": "doc"
   },
   "listDailyPopulation": {
    "mcpTool": "find_daily_population",
    "agentSkill": "search-city-data-and-records",
    "domain": "doc"
   },
   "listIncidents": {
    "mcpTool": "find_incidents",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycem"
   },
   "listVisits": {
    "mcpTool": "list_my_visits",
    "agentSkill": "search-city-data-and-records",
    "domain": "doc"
   },
   "createVisit": {
    "mcpTool": "schedule_visit",
    "agentSkill": "schedule-or-reserve",
    "domain": "doc"
   },
   "getVisit": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "doc"
   },
   "listPropertyValuations": {
    "mcpTool": "find_property_valuations",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dof"
   },
   "getPropertyValuation": {
    "mcpTool": "get_property_valuation",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dof"
   },
   "getPropertyExemptions": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dof"
   },
   "listPropertyExemptions": {
    "mcpTool": "find_property_exemptions",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dof"
   },
   "listPropertyTaxBills": {
    "mcpTool": null,
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dof"
   },
   "getPropertyTaxBill": {
    "mcpTool": "get_property_tax_bill",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dof"
   },
   "listAcrisDocuments": {
    "mcpTool": "find_acris_documents",
    "agentSkill": "search-city-data-and-records",
    "domain": "dof"
   },
   "getAcrisDocument": {
    "mcpTool": "get_acris_document",
    "agentSkill": "search-city-data-and-records",
    "domain": "dof"
   },
   "listParkingViolations": {
    "mcpTool": "find_parking_violations",
    "agentSkill": "search-city-data-and-records",
    "domain": "dof"
   },
   "getParkingViolation": {
    "mcpTool": "get_parking_violation",
    "agentSkill": "search-city-data-and-records",
    "domain": "dof"
   },
   "createParkingTicketPayment": {
    "mcpTool": "pay_parking_ticket",
    "agentSkill": "pay-a-city-charge",
    "domain": "dof"
   },
   "getParkingTicketPayment": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "dof"
   },
   "getReport": {
    "mcpTool": "get_report",
    "agentSkill": "search-city-data-and-records",
    "domain": "doi"
   },
   "listRecommendations": {
    "mcpTool": "find_recommendations",
    "agentSkill": "search-city-data-and-records",
    "domain": "doi"
   },
   "listEvictions": {
    "mcpTool": "find_evictions",
    "agentSkill": "search-city-data-and-records",
    "domain": "doi"
   },
   "listMarshalRevenue": {
    "mcpTool": "find_marshal_revenue",
    "agentSkill": "search-city-data-and-records",
    "domain": "doi"
   },
   "listPerformanceIndicators": {
    "mcpTool": "find_performance_indicators",
    "agentSkill": "search-city-data-and-records",
    "domain": "doi"
   },
   "listCollections": {
    "mcpTool": "list_collections",
    "agentSkill": "search-city-data-and-records",
    "domain": "nypl"
   },
   "getCollection": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "nypl"
   },
   "getCollectionItems": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "doris"
   },
   "listDigitalItems": {
    "mcpTool": "search_digital_collections",
    "agentSkill": "search-city-data-and-records",
    "domain": "nypl"
   },
   "getDigitalItem": {
    "mcpTool": "get_digital_item",
    "agentSkill": "search-city-data-and-records",
    "domain": "nypl"
   },
   "listVitalRecords": {
    "mcpTool": "find_vital_records",
    "agentSkill": "search-city-data-and-records",
    "domain": "doris"
   },
   "listPublications": {
    "mcpTool": "find_publications",
    "agentSkill": "search-city-data-and-records",
    "domain": "law"
   },
   "listHonoraryStreetNames": {
    "mcpTool": "find_honorary_street_names",
    "agentSkill": "search-city-data-and-records",
    "domain": "doris"
   },
   "listRecordsRequests": {
    "mcpTool": "list_my_records_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "doris"
   },
   "createRecordsRequest": {
    "mcpTool": "request_record",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "doris"
   },
   "getRecordsRequest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "doris"
   },
   "listVeteranResources": {
    "mcpTool": "find_veteran_resources",
    "agentSkill": "search-city-data-and-records",
    "domain": "dvs"
   },
   "getVeteranResource": {
    "mcpTool": "get_veteran_resource",
    "agentSkill": "search-city-data-and-records",
    "domain": "dvs"
   },
   "listVeteranOwnedBusinesses": {
    "mcpTool": "find_veteran_owned_businesses",
    "agentSkill": "search-city-data-and-records",
    "domain": "dvs"
   },
   "listAssistanceRequests": {
    "mcpTool": "find_assistance_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "dvs"
   },
   "listCases": {
    "mcpTool": "find_cases",
    "agentSkill": "search-city-data-and-records",
    "domain": "queensda"
   },
   "listClientStatistics": {
    "mcpTool": "find_client_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "dvs"
   },
   "listProgramSites": {
    "mcpTool": "find_program_sites",
    "agentSkill": "search-city-data-and-records",
    "domain": "dycd"
   },
   "getProgramSite": {
    "mcpTool": "get_program_site",
    "agentSkill": "search-city-data-and-records",
    "domain": "dycd"
   },
   "listServiceAreas": {
    "mcpTool": "find_service_areas",
    "agentSkill": "search-city-data-and-records",
    "domain": "dycd"
   },
   "listParticipantDemographics": {
    "mcpTool": "find_participant_demographics",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "dycd"
   },
   "listProperties": {
    "mcpTool": "find_properties",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "taxcommission"
   },
   "getProperty": {
    "mcpTool": "get_property",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "taxcommission"
   },
   "getSolicitation": {
    "mcpTool": "get_solicitation",
    "agentSkill": "search-city-data-and-records",
    "domain": "mocj"
   },
   "listRfpResponses": {
    "mcpTool": "list_my_rfp_responses",
    "agentSkill": "search-city-data-and-records",
    "domain": "edc"
   },
   "createRfpResponse": {
    "mcpTool": "submit_rfp_response",
    "agentSkill": "register-or-enroll",
    "domain": "edc"
   },
   "getRfpResponse": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "edc"
   },
   "listMappedCompanies": {
    "mcpTool": "find_mapped_companies",
    "agentSkill": "search-city-data-and-records",
    "domain": "edc"
   },
   "listFerryRidership": {
    "mcpTool": "find_ferry_ridership",
    "agentSkill": "search-city-data-and-records",
    "domain": "edc"
   },
   "listWiredBuildings": {
    "mcpTool": "find_wired_buildings",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "edc"
   },
   "listFirehouses": {
    "mcpTool": "find_firehouses",
    "agentSkill": "search-city-data-and-records",
    "domain": "fdny"
   },
   "getFirehouse": {
    "mcpTool": "get_firehouse",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "fdny"
   },
   "getIncident": {
    "mcpTool": "get_incident",
    "agentSkill": "search-city-data-and-records",
    "domain": "fdny"
   },
   "listCertificatesOfFitness": {
    "mcpTool": "find_certificates_of_fitness",
    "agentSkill": "search-city-data-and-records",
    "domain": "fdny"
   },
   "listFinancingPrograms": {
    "mcpTool": "find_financing_programs",
    "agentSkill": "search-city-data-and-records",
    "domain": "hdc"
   },
   "getFinancingProgram": {
    "mcpTool": "get_financing_program",
    "agentSkill": "search-city-data-and-records",
    "domain": "hdc"
   },
   "listBondIssues": {
    "mcpTool": "find_bond_issues",
    "agentSkill": "search-city-data-and-records",
    "domain": "hdc"
   },
   "getBondIssue": {
    "mcpTool": "get_bond_issue",
    "agentSkill": "search-city-data-and-records",
    "domain": "hdc"
   },
   "listMyFinancingApplications": {
    "mcpTool": "list_my_financing_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "hdc"
   },
   "applyForFinancing": {
    "mcpTool": "apply_for_financing",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "hdc"
   },
   "getFinancingStatus": {
    "mcpTool": "get_financing_status",
    "agentSkill": "check-application-or-case-status",
    "domain": "hdc"
   },
   "getFacilityServices": {
    "mcpTool": "get_facility_services",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "hhc"
   },
   "listFinancialAssistance": {
    "mcpTool": "find_financial_assistance",
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "listPharmacies": {
    "mcpTool": "find_pharmacies",
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "getAppointment": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "listAppointmentRequests": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "createAppointmentRequest": {
    "mcpTool": "request_appointment",
    "agentSkill": "schedule-or-reserve",
    "domain": "hhc"
   },
   "getAppointmentRequest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hhc"
   },
   "listCenters": {
    "mcpTool": "find_centers",
    "agentSkill": "search-city-data-and-records",
    "domain": "hra"
   },
   "getCenter": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "hra"
   },
   "listCaseloadStatistics": {
    "mcpTool": "find_caseload_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "hra"
   },
   "listCaseActions": {
    "mcpTool": "find_case_actions",
    "agentSkill": "search-city-data-and-records",
    "domain": "hra"
   },
   "screenEligibility": {
    "mcpTool": "screen_eligibility",
    "agentSkill": "schedule-or-reserve",
    "domain": "hra"
   },
   "getPublication": {
    "mcpTool": "get_publication",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "listDataTables": {
    "mcpTool": "find_data_tables",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "getDataTable": {
    "mcpTool": "get_data_table",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "listFiscalSeries": {
    "mcpTool": "find_fiscal_series",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "listSchoolSpending": {
    "mcpTool": "find_school_spending",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "listTaxDistribution": {
    "mcpTool": "find_tax_distribution",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "listDataRequests": {
    "mcpTool": "list_my_data_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "createDataRequest": {
    "mcpTool": "ask_ibo",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "ibo"
   },
   "getDataRequest": {
    "mcpTool": "get_data_request",
    "agentSkill": "search-city-data-and-records",
    "domain": "ibo"
   },
   "getCase": {
    "mcpTool": "get_case",
    "agentSkill": "search-city-data-and-records",
    "domain": "queensda"
   },
   "listMwbeStatistics": {
    "mcpTool": "find_mwbe_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "law"
   },
   "listPublicServiceProgram": {
    "mcpTool": "find_public_service_program",
    "agentSkill": "search-city-data-and-records",
    "domain": "law"
   },
   "listInternshipApplications": {
    "mcpTool": "list_my_internship_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "law"
   },
   "createInternshipApplication": {
    "mcpTool": "submit_internship_application",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "law"
   },
   "getInternshipApplication": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "law"
   },
   "listLandmarks": {
    "mcpTool": "find_landmarks",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "lpc"
   },
   "getLandmark": {
    "mcpTool": "get_landmark",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "lpc"
   },
   "getLandmarkBuildings": {
    "mcpTool": "get_landmark_buildings",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "lpc"
   },
   "listHistoricDistricts": {
    "mcpTool": "find_historic_districts",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "lpc"
   },
   "listDesignationReports": {
    "mcpTool": "find_designation_reports",
    "agentSkill": "search-city-data-and-records",
    "domain": "lpc"
   },
   "listMyPermitApplications": {
    "mcpTool": "list_my_permit_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "lpc"
   },
   "listConstituentCases": {
    "mcpTool": "find_constituent_cases",
    "agentSkill": "search-city-data-and-records",
    "domain": "manhattanbp"
   },
   "listProsecutionStatistics": {
    "mcpTool": "find_prosecution_statistics",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandda"
   },
   "listOffices": {
    "mcpTool": "find_offices",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "manhattanda"
   },
   "listTips": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "manhattanda"
   },
   "listSupervisedReleaseDockets": {
    "mcpTool": "find_supervised_release_dockets",
    "agentSkill": "search-city-data-and-records",
    "domain": "mocj"
   },
   "listJailPopulationMetrics": {
    "mcpTool": "find_jail_population_metrics",
    "agentSkill": "search-city-data-and-records",
    "domain": "mocj"
   },
   "listDataReports": {
    "mcpTool": "find_data_reports",
    "agentSkill": "search-city-data-and-records",
    "domain": "mocj"
   },
   "createProgramReferral": {
    "mcpTool": "refer_to_program",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "mocj"
   },
   "getProgramReferral": {
    "mcpTool": "get_referral",
    "agentSkill": "check-application-or-case-status",
    "domain": "mocj"
   },
   "listEnvironmentalSites": {
    "mcpTool": "find_environmental_sites",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "getEnvironmentalSite": {
    "mcpTool": "get_environmental_site",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "listEDesignations": {
    "mcpTool": "find_e_designations",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "getEDesignation": {
    "mcpTool": "get_e_designation",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "listCleanupProjects": {
    "mcpTool": "find_cleanup_projects",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "getCleanupProject": {
    "mcpTool": "get_cleanup_project",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "getRemediationStatus": {
    "mcpTool": "get_remediation_status",
    "agentSkill": "check-application-or-case-status",
    "domain": "moer"
   },
   "listNotices": {
    "mcpTool": "find_notices",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "listNoticeToProceedRequests": {
    "mcpTool": "list_my_notice_to_proceed_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "requestNoticeToProceed": {
    "mcpTool": "request_notice_to_proceed",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "moer"
   },
   "getNoticeToProceedRequest": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "moer"
   },
   "listFilmPermits": {
    "mcpTool": "find_film_permits",
    "agentSkill": "search-city-data-and-records",
    "domain": "mome"
   },
   "getFilmPermit": {
    "mcpTool": "get_film_permit",
    "agentSkill": "search-city-data-and-records",
    "domain": "mome"
   },
   "getFilmPermitLocations": {
    "mcpTool": "get_film_permit_locations",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "mome"
   },
   "listScreenActivity": {
    "mcpTool": "find_screen_activity",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "mome"
   },
   "listMarchInspections": {
    "mcpTool": "find_march_inspections",
    "agentSkill": "search-city-data-and-records",
    "domain": "mome"
   },
   "listNotifications": {
    "mcpTool": "find_notifications",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycem"
   },
   "getNotification": {
    "mcpTool": "get_notification",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycem"
   },
   "listEvacuationZones": {
    "mcpTool": "find_evacuation_zones",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nycem"
   },
   "listEvacuationCenters": {
    "mcpTool": "find_evacuation_centers",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nycem"
   },
   "listMitigationActions": {
    "mcpTool": "find_mitigation_actions",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycem"
   },
   "listPreparednessResources": {
    "mcpTool": "find_preparedness_resources",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycem"
   },
   "createNotifyNycSubscription": {
    "mcpTool": "subscribe_notify_nyc",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "nycem"
   },
   "getNotifyNycSubscription": {
    "mcpTool": "get_subscription",
    "agentSkill": "search-city-data-and-records",
    "domain": "nycem"
   },
   "getBranchEvents": {
    "mcpTool": "get_branch_events",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "nypl"
   },
   "listCatalogItems": {
    "mcpTool": "search_catalog",
    "agentSkill": "search-city-data-and-records",
    "domain": "queenslibrary"
   },
   "listHolds": {
    "mcpTool": "list_my_holds",
    "agentSkill": "search-city-data-and-records",
    "domain": "queenslibrary"
   },
   "listSummonses": {
    "mcpTool": "find_summonses",
    "agentSkill": "search-city-data-and-records",
    "domain": "oath"
   },
   "getSummons": {
    "mcpTool": "get_summons",
    "agentSkill": "search-city-data-and-records",
    "domain": "oath"
   },
   "getSummonsHearing": {
    "mcpTool": "get_summons_hearing",
    "agentSkill": "search-city-data-and-records",
    "domain": "oath"
   },
   "getSummonsDecision": {
    "mcpTool": "get_summons_decision",
    "agentSkill": "search-city-data-and-records",
    "domain": "oath"
   },
   "listTrialCases": {
    "mcpTool": "find_trial_cases",
    "agentSkill": "search-city-data-and-records",
    "domain": "oath"
   },
   "getTrialCase": {
    "mcpTool": "get_trial_case",
    "agentSkill": "search-city-data-and-records",
    "domain": "oath"
   },
   "createSummonsDispute": {
    "mcpTool": "dispute_summons",
    "agentSkill": "dispute-or-appeal",
    "domain": "oath"
   },
   "listSummonsDisputes": {
    "mcpTool": "list_my_disputes",
    "agentSkill": "search-city-data-and-records",
    "domain": "oath"
   },
   "getSummonsDispute": {
    "mcpTool": "get_dispute_status",
    "agentSkill": "check-application-or-case-status",
    "domain": "oath"
   },
   "listIndicators": {
    "mcpTool": "list_indicators",
    "agentSkill": "search-city-data-and-records",
    "domain": "ocme"
   },
   "listFamilyServicesCenters": {
    "mcpTool": "find_family_services_centers",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "ocme"
   },
   "listMissingPersons": {
    "mcpTool": "find_missing_persons",
    "agentSkill": "search-city-data-and-records",
    "domain": "ocme"
   },
   "listRecordRequests": {
    "mcpTool": "list_my_record_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "ocme"
   },
   "createRecordRequest": {
    "mcpTool": "request_record",
    "agentSkill": "request-public-records",
    "domain": "ocme"
   },
   "getRecordRequest": {
    "mcpTool": "get_record_request",
    "agentSkill": "search-city-data-and-records",
    "domain": "ocme"
   },
   "listDatasets": {
    "mcpTool": "search_datasets",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "registerDataset": {
    "mcpTool": "register_dataset",
    "agentSkill": "register-or-enroll",
    "domain": "oti"
   },
   "getDataset": {
    "mcpTool": "get_dataset",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "listGatewayServices": {
    "mcpTool": "list_gateway_services",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "getGatewayService": {
    "mcpTool": "get_gateway_service",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "requestApiKey": {
    "mcpTool": "request_api_key",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "oti"
   },
   "listKiosks": {
    "mcpTool": "find_linknyc_kiosks",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "getKiosk": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "listBroadbandAssets": {
    "mcpTool": "find_broadband_assets",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "listWifiHotspots": {
    "mcpTool": "find_wifi_hotspots",
    "agentSkill": "search-city-data-and-records",
    "domain": "oti"
   },
   "listCollectionItems": {
    "mcpTool": "search_collection",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "getCollectionItem": {
    "mcpTool": "get_collection_item",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "listCommissioners": {
    "mcpTool": "list_commissioners",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "listAwards": {
    "mcpTool": "find_awards",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "listSubmissions": {
    "mcpTool": "list_my_submissions",
    "agentSkill": "search-city-data-and-records",
    "domain": "pdc"
   },
   "submitDesignReview": {
    "mcpTool": "submit_design_review",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "pdc"
   },
   "getDesignReviewStatus": {
    "mcpTool": null,
    "agentSkill": "check-application-or-case-status",
    "domain": "pdc"
   },
   "listWorstLandlords": {
    "mcpTool": "find_worst_landlords",
    "agentSkill": "search-city-data-and-records",
    "domain": "pubadvocate"
   },
   "getWorstLandlord": {
    "mcpTool": "get_worst_landlord",
    "agentSkill": "search-city-data-and-records",
    "domain": "pubadvocate"
   },
   "getWorstLandlordBuildings": {
    "mcpTool": "get_worst_landlord_buildings",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "pubadvocate"
   },
   "listWatchlistBuildings": {
    "mcpTool": "find_watchlist_buildings",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "pubadvocate"
   },
   "listPublicInterestRequests": {
    "mcpTool": "find_public_interest_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "pubadvocate"
   },
   "listOmbudsmanComplaints": {
    "mcpTool": "list_my_complaints",
    "agentSkill": "search-city-data-and-records",
    "domain": "pubadvocate"
   },
   "createOmbudsmanComplaint": {
    "mcpTool": "file_complaint",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "pubadvocate"
   },
   "getOmbudsmanComplaint": {
    "mcpTool": "get_complaint",
    "agentSkill": "search-city-data-and-records",
    "domain": "pubadvocate"
   },
   "listCommunityBoardMembers": {
    "mcpTool": "find_community_board_members",
    "agentSkill": "search-city-data-and-records",
    "domain": "queensbp"
   },
   "listColdCases": {
    "mcpTool": "find_cold_cases",
    "agentSkill": "search-city-data-and-records",
    "domain": "queensda"
   },
   "getColdCase": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "queensda"
   },
   "listCertifiedBusinesses": {
    "mcpTool": "find_certified_businesses",
    "agentSkill": "search-city-data-and-records",
    "domain": "sbs"
   },
   "getCertifiedBusiness": {
    "mcpTool": "get_certified_business",
    "agentSkill": "search-city-data-and-records",
    "domain": "sbs"
   },
   "listBusinessImprovementDistricts": {
    "mcpTool": "find_business_improvement_districts",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "sbs"
   },
   "getBusinessImprovementDistrict": {
    "mcpTool": "get_business_improvement_district",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "sbs"
   },
   "listWorkforceEvents": {
    "mcpTool": "find_workforce_events",
    "agentSkill": "search-city-data-and-records",
    "domain": "sbs"
   },
   "listJobListings": {
    "mcpTool": "find_job_listings",
    "agentSkill": "search-city-data-and-records",
    "domain": "sbs"
   },
   "listServiceLocations": {
    "mcpTool": "find_service_locations",
    "agentSkill": "look-up-a-property-or-place",
    "domain": "sbs"
   },
   "listBusinessIncentives": {
    "mcpTool": "find_incentives",
    "agentSkill": "search-city-data-and-records",
    "domain": "sbs"
   },
   "listMwbeApplications": {
    "mcpTool": "list_my_mwbe_applications",
    "agentSkill": "search-city-data-and-records",
    "domain": "sbs"
   },
   "createMwbeApplication": {
    "mcpTool": "apply_for_mwbe_certification",
    "agentSkill": "apply-for-a-permit-license-or-benefit",
    "domain": "sbs"
   },
   "getMwbeApplication": {
    "mcpTool": null,
    "agentSkill": "search-city-data-and-records",
    "domain": "sbs"
   },
   "listUpcomingContracts": {
    "mcpTool": "find_upcoming_contracts",
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "listEnrollmentCapacity": {
    "mcpTool": "find_enrollment_capacity",
    "agentSkill": "search-city-data-and-records",
    "domain": "sca"
   },
   "listConstituentRequests": {
    "mcpTool": "find_constituent_requests",
    "agentSkill": "search-city-data-and-records",
    "domain": "statenislandbp"
   },
   "createConstituentRequest": {
    "mcpTool": "report_quality_of_life_issue",
    "agentSkill": "report-a-problem-or-file-a-complaint",
    "domain": "statenislandbp"
   },
   "listAssessmentActions": {
    "mcpTool": "find_assessment_actions",
    "agentSkill": "search-city-data-and-records",
    "domain": "taxcommission"
   },
   "listArticle7Petitions": {
    "mcpTool": "find_article7_petitions",
    "agentSkill": "search-city-data-and-records",
    "domain": "taxcommission"
   },
   "getArticle7Petition": {
    "mcpTool": "get_article7_petition",
    "agentSkill": "search-city-data-and-records",
    "domain": "taxcommission"
   },
   "listAssessmentAppeals": {
    "mcpTool": "list_my_appeals",
    "agentSkill": "search-city-data-and-records",
    "domain": "taxcommission"
   },
   "createAssessmentAppeal": {
    "mcpTool": "file_appeal",
    "agentSkill": "dispute-or-appeal",
    "domain": "taxcommission"
   },
   "getAssessmentAppeal": {
    "mcpTool": "get_appeal",
    "agentSkill": "search-city-data-and-records",
    "domain": "taxcommission"
   },
   "getDetermination": {
    "mcpTool": "get_determination",
    "agentSkill": "search-city-data-and-records",
    "domain": "taxcommission"
   }
  }
 },
 "paths": {
  "/nycgovparks-org/parks": {
   "get": {
    "operationId": "listParks",
    "summary": "List / search park properties",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "find_parks",
    "x-agent-skill": "look-up-a-property-or-place",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/parks/{gisPropNum}": {
   "get": {
    "operationId": "getPark",
    "summary": "Get a single park by GIS property number",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "get_park",
    "x-agent-skill": "look-up-a-property-or-place",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/parks/{gisPropNum}/facilities": {
   "get": {
    "operationId": "listParkFacilities",
    "summary": "List facilities within a park",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "list_park_facilities",
    "x-agent-skill": "look-up-a-property-or-place",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/facilities": {
   "get": {
    "operationId": "listFacilities",
    "summary": "List / search facilities citywide",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "find_facilities",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/facilities/{id}": {
   "get": {
    "operationId": "getFacility",
    "summary": "Get a facility",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": null,
    "x-agent-skill": "look-up-a-property-or-place",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/events": {
   "get": {
    "operationId": "listEvents",
    "summary": "List / search events",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "find_events",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/events/{eventId}": {
   "get": {
    "operationId": "getEvent",
    "summary": "Get an event",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "get_event",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/monuments": {
   "get": {
    "operationId": "listMonuments",
    "summary": "List / search monuments and historical signs",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "find_monuments",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/monuments/{id}": {
   "get": {
    "operationId": "getMonument",
    "summary": "Get a monument",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "get_monument",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/trees": {
   "get": {
    "operationId": "listTrees",
    "summary": "List / search trees (tree census)",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "find_trees",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/trees/{treeId}": {
   "get": {
    "operationId": "getTree",
    "summary": "Get a tree",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": null,
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/capital-projects": {
   "get": {
    "operationId": "listCapitalProjects",
    "summary": "List / search capital projects",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "find_capital_projects",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/capital-projects/{trackerId}": {
   "get": {
    "operationId": "getCapitalProject",
    "summary": "Get a capital project",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "get_capital_project",
    "x-agent-skill": "check-application-or-case-status",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/permit-applications": {
   "get": {
    "operationId": "listPermitApplications",
    "summary": "List the authenticated applicant's permit applications",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "list_permit_applications",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   },
   "post": {
    "operationId": "createPermitApplication",
    "summary": "Submit a new permit application",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "submit_permit_application",
    "x-agent-skill": "apply-for-a-permit-license-or-benefit",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/nycgovparks-org/permit-applications/{applicationId}": {
   "get": {
    "operationId": "getPermitApplication",
    "summary": "Get a permit application",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "check_permit_status",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   },
   "patch": {
    "operationId": "updatePermitApplication",
    "summary": "Update or withdraw a draft/submitted application",
    "tags": [
     "NYC Parks & Recreation"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "nycgovparks.org",
    "x-mcp-tool": "update_permit_application",
    "x-agent-skill": "apply-for-a-permit-license-or-benefit",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/nycgovparks.org/openapi/nyc-parks.yaml"
   }
  },
  "/schools-nyc-gov/schools": {
   "get": {
    "operationId": "listSchools",
    "summary": "List / search schools",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "find_schools",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/schools/{dbn}": {
   "get": {
    "operationId": "getSchool",
    "summary": "Get a school by DBN",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "get_school",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/schools/{dbn}/demographics": {
   "get": {
    "operationId": "getSchoolDemographics",
    "summary": "Get demographic snapshots for a school",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "get_school_demographics",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/schools/{dbn}/test-results": {
   "get": {
    "operationId": "getSchoolTestResults",
    "summary": "Get assessment results for a school",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "get_school_test_results",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/demographics": {
   "get": {
    "operationId": "listDemographics",
    "summary": "Query demographic snapshots across schools",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": null,
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/test-results": {
   "get": {
    "operationId": "listTestResults",
    "summary": "Query assessment results across schools",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": null,
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/calendar-events": {
   "get": {
    "operationId": "listCalendarEvents",
    "summary": "List school-year calendar events",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "find_calendar_events",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/enrollment-applications": {
   "get": {
    "operationId": "listEnrollmentApplications",
    "summary": "List the authenticated guardian's enrollment applications",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "list_enrollment_applications",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   },
   "post": {
    "operationId": "createEnrollmentApplication",
    "summary": "Submit a new enrollment application",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "submit_enrollment_application",
    "x-agent-skill": "apply-for-a-permit-license-or-benefit",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/schools-nyc-gov/enrollment-applications/{applicationId}": {
   "get": {
    "operationId": "getEnrollmentApplication",
    "summary": "Get an enrollment application (status, offer)",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "check_application_status",
    "x-agent-skill": "check-application-or-case-status",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   },
   "patch": {
    "operationId": "updateEnrollmentApplication",
    "summary": "Update or withdraw a draft/submitted application (e.g. re-rank choices)",
    "tags": [
     "NYC Public Schools (DOE)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "schools.nyc.gov",
    "x-mcp-tool": "update_enrollment_application",
    "x-agent-skill": "apply-for-a-permit-license-or-benefit",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/schools.nyc.gov/openapi/nyc-schools.yaml"
   }
  },
  "/council-nyc-gov/members": {
   "get": {
    "operationId": "listMembers",
    "summary": "List / search council members",
    "tags": [
     "NYC Council"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "council.nyc.gov",
    "x-mcp-tool": "find_members",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/council.nyc.gov/openapi/nyc-council.yaml"
   }
  },
  "/council-nyc-gov/members/{councilMemberId}": {
   "get": {
    "operationId": "getMember",
    "summary": "Get a council member",
    "tags": [
     "NYC Council"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "council.nyc.gov",
    "x-mcp-tool": "get_member",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/council.nyc.gov/openapi/nyc-council.yaml"
   }
  },
  "/council-nyc-gov/members/{councilMemberId}/legislation": {
   "get": {
    "operationId": "getMemberLegislation",
    "summary": "List legislation sponsored by a member",
    "tags": [
     "NYC Council"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "council.nyc.gov",
    "x-mcp-tool": "get_member_legislation",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/council.nyc.gov/openapi/nyc-council.yaml"
   }
  },
  "/council-nyc-gov/districts": {
   "get": {
    "operationId": "listDistricts",
    "summary": "List council districts",
    "tags": [
     "NYC Council"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "council.nyc.gov",
    "x-mcp-tool": null,
    "x-agent-skill": "look-up-a-property-or-place",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/council.nyc.gov/openapi/nyc-council.yaml"
   }
  },
  "/council-nyc-gov/districts/{district}": {
   "get": {
    "operationId": "getDistrict",
    "summary": "Get a district by number",
    "tags": [
     "NYC Council"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "council.nyc.gov",
    "x-mcp-tool": "get_district",
    "x-agent-skill": "look-up-a-property-or-place",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/council.nyc.gov/openapi/nyc-council.yaml"
   }
  },
  "/council-nyc-gov/committees": {
   "get": {
    "operationId": "listCommittees",
    "summary": "List committees, subcommittees, and caucuses",
    "tags": [
     "NYC Council"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "council.nyc.gov",
    "x-mcp-tool": "find_committees",
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/council.nyc.gov/openapi/nyc-council.yaml"
   }
  },
  "/council-nyc-gov/committees/{id}": {
   "get": {
    "operationId": "getCommittee",
    "summary": "Get a committee",
    "tags": [
     "NYC Council"
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "x-domain": "council.nyc.gov",
    "x-mcp-tool": null,
    "x-agent-skill": "search-city-data-and-records",
    "x-source-openapi": "https://raw.githubusercontent.com/api-evangelist/nyc/main/council.nyc.gov/openapi/nyc-council.yaml"
   }
  },
  "/council-nyc-gov/legislation": {
   "get": {
[...]
