openapi: 3.1.0
info:
  title: NYC Public Schools API (proposed)
  version: 0.1.0
  summary: A resource-oriented, DBN-keyed API unifying NYC Public Schools data that today is split between JS-rendered pages on schools.nyc.gov, a vendor search (HawkSearch), an internal /CustomApi, and per-dataset endpoints on NYC Open Data.
  description: >-
    Proposed API-first surface for New York City Public Schools (NYCPS / DOE), from the NYC
    Modernization low-hanging-fruit assessment of schools.nyc.gov.


    Not another data-liberation dump. It (1) unifies the ~638 existing DOE Open Data assets behind
    coherent, DBN-keyed resources (School → demographics → test results), (2) **reclaims** capabilities
    that are outsourced or hidden today — school **search** (rented to HawkSearch) and the internal
    **/CustomApi** backend — into an owned, public, documented API, and (3) adds the missing
    **EnrollmentApplication** write API (the MySchools workflow), which has no machine-readable surface.


    Every resource schema is an individual JSON Schema file referenced here by `$ref`. See `../schemas/`,
    `../crosswalk.md`, `../tech-stack.md`, and `../apis-observed.md`.
  contact:
    name: API Evangelist — NYC Modernization
    url: https://github.com/api-evangelist/nyc
servers:
  - url: https://api.schools.nyc.gov/v1
    description: Proposed production host (illustrative)
tags:
  - name: Schools
    description: School directory (the root, DBN-keyed entity).
  - name: Demographics
    description: Per-school enrollment & demographic snapshots.
  - name: Assessments
    description: School-level test results (SAT, AP, Regents, SHSAT).
  - name: Calendar
    description: School-year calendar events.
  - name: Enrollment
    description: Admissions / enrollment applications (read + write). The net-new surface.

paths:
  /schools:
    get:
      operationId: listSchools
      summary: List / search schools
      description: Owned, public replacement for the HawkSearch-powered Find-a-School.
      tags: [Schools]
      parameters:
        - $ref: '#/components/parameters/borough'
        - name: district
          in: query
          schema: { type: integer }
        - name: schoolType
          in: query
          schema: { type: string }
        - name: grade
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of schools.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '../schemas/school.json' }
  /schools/{dbn}:
    get:
      operationId: getSchool
      summary: Get a school by DBN
      tags: [Schools]
      parameters:
        - $ref: '#/components/parameters/dbn'
      responses:
        '200':
          description: The school.
          content:
            application/json:
              schema: { $ref: '../schemas/school.json' }
        '404': { $ref: '#/components/responses/NotFound' }
  /schools/{dbn}/demographics:
    get:
      operationId: getSchoolDemographics
      summary: Get demographic snapshots for a school
      tags: [Schools, Demographics]
      parameters:
        - $ref: '#/components/parameters/dbn'
        - name: year
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Demographic snapshots (one per year).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '../schemas/school-demographics.json' }
  /schools/{dbn}/test-results:
    get:
      operationId: getSchoolTestResults
      summary: Get assessment results for a school
      tags: [Schools, Assessments]
      parameters:
        - $ref: '#/components/parameters/dbn'
        - name: examType
          in: query
          schema: { type: string, enum: [SAT, AP, Regents, State ELA, State Math, SHSAT] }
      responses:
        '200':
          description: Test results.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '../schemas/test-result.json' }

  /demographics:
    get:
      operationId: listDemographics
      summary: Query demographic snapshots across schools
      tags: [Demographics]
      parameters:
        - name: year
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/borough'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of demographic snapshots.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '../schemas/school-demographics.json' }

  /test-results:
    get:
      operationId: listTestResults
      summary: Query assessment results across schools
      tags: [Assessments]
      parameters:
        - name: examType
          in: query
          schema: { type: string, enum: [SAT, AP, Regents, State ELA, State Math, SHSAT] }
        - name: year
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of test results.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '../schemas/test-result.json' }

  /calendar-events:
    get:
      operationId: listCalendarEvents
      summary: List school-year calendar events
      tags: [Calendar]
      parameters:
        - name: schoolYear
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - name: category
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Calendar events.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '../schemas/calendar-event.json' }

  /enrollment-applications:
    get:
      operationId: listEnrollmentApplications
      summary: List the authenticated guardian's enrollment applications
      tags: [Enrollment]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: admissionsProcess
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of enrollment applications.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '../schemas/enrollment-application.json' }
    post:
      operationId: createEnrollmentApplication
      summary: Submit a new enrollment application
      description: The net-new write surface — an API for the MySchools admissions workflow.
      tags: [Enrollment]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/enrollment-application.json' }
      responses:
        '201':
          description: Application created.
          content:
            application/json:
              schema: { $ref: '../schemas/enrollment-application.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /enrollment-applications/{applicationId}:
    get:
      operationId: getEnrollmentApplication
      summary: Get an enrollment application (status, offer)
      tags: [Enrollment]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: applicationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The application.
          content:
            application/json:
              schema: { $ref: '../schemas/enrollment-application.json' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateEnrollmentApplication
      summary: Update or withdraw a draft/submitted application (e.g. re-rank choices)
      tags: [Enrollment]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: applicationId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/enrollment-application.json' }
      responses:
        '200':
          description: Updated application.
          content:
            application/json:
              schema: { $ref: '../schemas/enrollment-application.json' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: NYC Schools Account (NYCSA) identity.
  schemas:
    School: { $ref: '../schemas/school.json' }
    SchoolDemographics: { $ref: '../schemas/school-demographics.json' }
    TestResult: { $ref: '../schemas/test-result.json' }
    CalendarEvent: { $ref: '../schemas/calendar-event.json' }
    EnrollmentApplication: { $ref: '../schemas/enrollment-application.json' }
    PageMeta:
      type: object
      properties:
        meta:
          type: object
          properties:
            page: { type: integer }
            perPage: { type: integer }
            total: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
  parameters:
    borough:
      name: borough
      in: query
      schema: { type: string, enum: [Manhattan, Bronx, Brooklyn, Queens, Staten Island] }
    dbn:
      name: dbn
      in: path
      required: true
      description: District-Borough-Number, e.g. 15K261.
      schema: { type: string }
    q:
      name: q
      in: query
      description: Free-text search.
      schema: { type: string }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
