openapi: 3.1.0
info:
  title: Brooklyn District Attorney API (proposed)
  version: 0.1.0
  summary: >-
    One owned, resource-oriented API for the Kings County (Brooklyn) District Attorney's Office —
    turning a WordPress brochure site with an accidental content API into a designed contract for
    press releases, programs, community resources, victim services, and aggregate case statistics,
    and adding the missing inbound write surface: submitting a confidential tip.
  description: >-
    Proposed API-first surface for the Brooklyn (Kings County) District Attorney, from the NYC
    Modernization low-hanging-fruit assessment of brooklynda.org.


    The Brooklyn DA is a **content-only domain with no data**. Its site is WordPress 6.8.5
    (GeneratePress theme, Wordfence, Yoast, MonsterInsights) on Apache. The **only** machine-readable
    surface is the WordPress REST API (`/wp-json/wp/v2`), an *accidental* content API that exposes
    ~911 press releases plus notifications, statements, and bureau/program pages. Crucially there is
    **no NYC Open Data for any DA office** — the Socrata Discovery API returns zero assets for every
    Brooklyn/Kings County DA label — so the office's core justice data (caseloads, dispositions,
    diversions, conviction-review outcomes) is published **nowhere as data**, only as prose inside
    press releases. And there is **no inbound machine surface**: a resident with a tip has only a
    captcha-gated web form, a phone hotline, or a bureau email.


    This contract does three things: (1) presents the content that already exists (press releases,
    programs, resources, victim services) as one clean resource model instead of raw WordPress posts;
    (2) proposes the missing **aggregate case-statistics** resource the office should publish; and
    (3) adds the one net-new **write** workflow — submitting a confidential **tip** — that today has
    no machine-readable contract at all. Individual cases and defendant records are never exposed.


    Because all five NYC county DA offices share the same functions, this is deliberately designed as
    a template for **one shared DA API**. Every resource schema is an individual JSON Schema file
    referenced by `$ref`. See `../schemas/`, `../crosswalk.md`, `../tech-stack.md`, and
    `../apis-observed.md`.
  contact:
    name: API Evangelist — NYC Modernization
    url: https://github.com/api-evangelist/nyc
servers:
  - url: https://api.brooklynda.org/v1
    description: Proposed production host (illustrative)
tags:
  - name: PressReleases
    description: Press releases, statements, and notifications — the office's published record.
  - name: Programs
    description: Bureaus, units, diversion / re-entry programs, community courts, and initiatives.
  - name: Resources
    description: Public brochures, palm cards, guides, and hotlines the office publishes for residents.
  - name: VictimServices
    description: Victim / witness support offerings.
  - name: CaseStatistics
    description: Aggregate prosecution statistics (never individual cases). Proposed net-new data.
  - name: Tips
    description: Submit and track a confidential tip. The net-new write surface — today only a captcha web form or a phone call.

paths:
  /press-releases:
    get:
      operationId: listPressReleases
      summary: List / search press releases, statements, and notifications
      tags: [PressReleases]
      parameters:
        - name: category
          in: query
          schema: { type: string, enum: [Press Releases, Notifications, DA Statements, Newsletters] }
        - name: bureau
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of press releases.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/press-release.json' } }
  /press-releases/{id}:
    get:
      operationId: getPressRelease
      summary: Get a press release by ID
      tags: [PressReleases]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The press release.
          content:
            application/json:
              schema: { $ref: '../schemas/press-release.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /programs:
    get:
      operationId: listPrograms
      summary: List / search programs, bureaus, units, and initiatives
      tags: [Programs]
      parameters:
        - name: type
          in: query
          schema: { type: string }
        - name: bureau
          in: query
          schema: { type: string }
        - name: audience
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of programs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/program.json' } }
  /programs/{slug}:
    get:
      operationId: getProgram
      summary: Get a program by slug
      tags: [Programs]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The program.
          content:
            application/json:
              schema: { $ref: '../schemas/program.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /community-resources:
    get:
      operationId: listCommunityResources
      summary: List / search public resources (brochures, palm cards, guides, hotlines)
      tags: [Resources]
      parameters:
        - name: resourceType
          in: query
          schema: { type: string }
        - name: topic
          in: query
          schema: { type: string }
        - name: language
          in: query
          schema: { type: string }
        - name: bureau
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of community resources.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/community-resource.json' } }

  /victim-services:
    get:
      operationId: listVictimServices
      summary: List victim / witness support services
      tags: [VictimServices]
      parameters:
        - name: serviceType
          in: query
          schema: { type: string }
        - name: population
          in: query
          schema: { type: string }
        - name: bureau
          in: query
          schema: { type: string }
        - name: language
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of victim services.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/victim-service.json' } }

  /case-statistics:
    get:
      operationId: listCaseStatistics
      summary: Aggregate prosecution statistics by period, bureau, and crime category
      description: >-
        Proposed net-new data. The Brooklyn DA publishes no caseload data today; this resource
        describes the aggregate figures the office should expose. Never returns individual cases.
      tags: [CaseStatistics]
      parameters:
        - name: period
          in: query
          schema: { type: string }
        - name: bureau
          in: query
          schema: { type: string }
        - name: crimeCategory
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of aggregate case statistics.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/case-statistics.json' } }

  /tips:
    post:
      operationId: submitTip
      summary: Submit a confidential tip
      description: >-
        The net-new write surface — an API for submitting a confidential tip, complaint, or
        information referral, replacing the captcha-only web form. Not for emergencies in progress:
        submissions with `emergency` true are directed to call 911. Returns a confidential reference
        number so the submitter can check status.
      tags: [Tips]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/tip-submission.json' }
      responses:
        '201':
          description: Tip received.
          content:
            application/json:
              schema: { $ref: '../schemas/tip-submission.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /tips/{tipId}:
    get:
      operationId: getTip
      summary: Check the status of a submitted tip
      description: Read a tip's status by its confidential reference number.
      tags: [Tips]
      parameters:
        - name: tipId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The tip's status.
          content:
            application/json:
              schema: { $ref: '../schemas/tip-submission.json' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  schemas:
    PressRelease: { $ref: '../schemas/press-release.json' }
    Program: { $ref: '../schemas/program.json' }
    CommunityResource: { $ref: '../schemas/community-resource.json' }
    VictimService: { $ref: '../schemas/victim-service.json' }
    CaseStatistics: { $ref: '../schemas/case-statistics.json' }
    TipSubmission: { $ref: '../schemas/tip-submission.json' }
    PageMeta:
      type: object
      properties:
        meta:
          type: object
          properties:
            page: { type: integer }
            perPage: { type: integer }
            total: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
  parameters:
    q:
      name: q
      in: query
      description: Free-text search.
      schema: { type: string }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
