openapi: 3.1.0
info:
  title: NYPL API (proposed unification)
  version: 0.1.0
  summary: >-
    One owned, agent-native contract that unifies the New York Public Library's already-real public
    APIs — Digital Collections, Locations, and the Research Catalog — under a single resource model,
    and adds the one gap: a clean, documented write surface for placing a hold (reservation) on a
    catalog item.
  description: >-
    Proposed API-first surface for the New York Public Library (NYPL), from the NYC Modernization
    low-hanging-fruit assessment of nypl.org and NYPL's developer surfaces.


    NYPL is this project's **counter-example**. Where most NYC domains trap their data in HTML or a
    vendor CRM, NYPL — an independent nonprofit, not a city agency — has already built and operated
    genuinely good public APIs for years: the **Digital Collections API** (`api.repo.nypl.org/api/v2`,
    token-authenticated) over millions of digitized items; the open, hypermedia **Locations API**
    (`refinery.nypl.org/api/nypl/locations/v1.0`) publishing branches, hours, amenities, and events;
    and the **Research Catalog** behind the open-source `discovery-api`. NYPL open-sources nearly its
    entire stack at github.com/NYPL, including the `nypl-core` ontology and an accessibility-first React
    design system.


    So the modernization verb here is not *replatform* or *unlock* — it is **lead**: hold NYPL up as the
    model, then close the two remaining gaps. (1) The three good APIs are **separate contracts** with
    different auth, hosts, and shapes; a consumer must learn each one. This spec presents them as a
    single resource model. (2) The everyday **write** transaction — placing a hold on a book — runs on
    real internal services (`on-site-hold-request-service`, `nypl-hold-request-consumer`,
    `patron-eligibility-service`, `ruby-sierra-api-client`) and is reachable inside a patron's
    authenticated account, but there is **no clean, documented, agent-native public hold API**. This
    contract adds `POST /holds`.


    Personal patron data is never exposed publicly: the catalog and collections are open, but holds
    (read and write) require the authenticated patron. Every resource schema is an individual JSON
    Schema file referenced by `$ref`. See `../schemas/`, `../crosswalk.md`, `../tech-stack.md`, and
    `../apis-observed.md`.
  contact:
    name: API Evangelist — NYC Modernization
    url: https://github.com/api-evangelist/nyc
servers:
  - url: https://api.nypl.org/v1
    description: Proposed unified host (illustrative)
tags:
  - name: DigitalCollections
    description: Digitized items and collections (NYPL Digital Collections API).
  - name: Locations
    description: Branches, research centers, hours, and amenities (NYPL Locations API).
  - name: Events
    description: Public programs, classes, and exhibitions at NYPL locations.
  - name: Catalog
    description: Research and circulating catalog bibliographic records (discovery-api / Sierra).
  - name: Holds
    description: Place and track holds/reservations (read + write). The net-new agent-native surface.

paths:
  /digital-items:
    get:
      operationId: listDigitalItems
      summary: Search NYPL Digital Collections
      description: Search digitized items across NYPL Digital Collections (wraps api.repo.nypl.org items/search).
      tags: [DigitalCollections]
      parameters:
        - $ref: '#/components/parameters/q'
        - name: publicDomainOnly
          in: query
          schema: { type: boolean }
        - name: division
          in: query
          description: Filter by NYPL research division.
          schema: { type: string }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of digital items.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/digital-item.json' } }
  /digital-items/{uuid}:
    get:
      operationId: getDigitalItem
      summary: Get a digital item by UUID
      tags: [DigitalCollections]
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The digital item (metadata, captures, rights).
          content:
            application/json:
              schema: { $ref: '../schemas/digital-item.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /collections:
    get:
      operationId: listCollections
      summary: List Digital Collections collections
      tags: [DigitalCollections]
      parameters:
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of collections.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/collection.json' } }
  /collections/{uuid}:
    get:
      operationId: getCollection
      summary: Get a collection by UUID
      tags: [DigitalCollections]
      parameters:
        - name: uuid
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The collection.
          content:
            application/json:
              schema: { $ref: '../schemas/collection.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /branches:
    get:
      operationId: listBranches
      summary: List NYPL locations (branches and research centers)
      description: Wraps the open NYPL Locations API (refinery.nypl.org locations).
      tags: [Locations]
      parameters:
        - $ref: '#/components/parameters/borough'
        - name: locationType
          in: query
          schema: { type: string, enum: [branch, research, administrative] }
        - name: openNow
          in: query
          description: Only return locations currently open.
          schema: { type: boolean }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of locations.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/branch.json' } }
  /branches/{slug}:
    get:
      operationId: getBranch
      summary: Get a location by slug
      tags: [Locations]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The location (hours, amenities, access, links).
          content:
            application/json:
              schema: { $ref: '../schemas/branch.json' }
        '404': { $ref: '#/components/responses/NotFound' }
  /branches/{slug}/events:
    get:
      operationId: getBranchEvents
      summary: List upcoming events at a location
      tags: [Events]
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Events at the location.
          content:
            application/json:
              schema: { type: array, items: { $ref: '../schemas/event.json' } }

  /events:
    get:
      operationId: listEvents
      summary: Search public programs and exhibitions
      tags: [Events]
      parameters:
        - $ref: '#/components/parameters/q'
        - name: branch
          in: query
          description: Location slug to filter by.
          schema: { type: string }
        - name: eventType
          in: query
          schema: { type: string }
        - name: audience
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of events.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/event.json' } }

  /catalog:
    get:
      operationId: listCatalogItems
      summary: Search the Research / circulating catalog
      description: Wraps the discovery-api behind the NYPL Research Catalog.
      tags: [Catalog]
      parameters:
        - $ref: '#/components/parameters/q'
        - name: materialType
          in: query
          schema: { type: string }
        - name: language
          in: query
          schema: { type: string }
        - name: collection
          in: query
          schema: { type: string, enum: [circulating, research, special-collections] }
        - name: holdableOnly
          in: query
          schema: { type: boolean }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of bibliographic records.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/catalog-item.json' } }
  /catalog/{bibId}:
    get:
      operationId: getCatalogItem
      summary: Get a bibliographic record by bib id
      tags: [Catalog]
      parameters:
        - name: bibId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The catalog item and its copies/availability.
          content:
            application/json:
              schema: { $ref: '../schemas/catalog-item.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /holds:
    get:
      operationId: listHolds
      summary: List the authenticated patron's holds
      description: Reads the patron's own holds — today reachable only inside their authenticated Research Catalog account.
      tags: [Holds]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [Requested, Ready for Pickup, In Transit, Frozen, Fulfilled, Cancelled, Expired] }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of the patron's holds.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/hold.json' } }
    post:
      operationId: placeHold
      summary: Place a hold (reservation) on a catalog item
      description: >-
        The net-new agent-native write surface — a clean, documented API for placing a hold on a bib,
        replacing the account-UI-only workflow. NYPL already runs the internal services (hold-request,
        patron-eligibility, Sierra client); this exposes them as one contract. Requires an authenticated
        patron and eligibility; mutates state — confirm the item and pickup branch before submitting.
      tags: [Holds]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/hold.json' }
      responses:
        '201':
          description: Hold placed.
          content:
            application/json:
              schema: { $ref: '../schemas/hold.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /holds/{holdId}:
    get:
      operationId: getHold
      summary: Get one of the patron's holds
      tags: [Holds]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: holdId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The hold.
          content:
            application/json:
              schema: { $ref: '../schemas/hold.json' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    DigitalItem: { $ref: '../schemas/digital-item.json' }
    Collection: { $ref: '../schemas/collection.json' }
    Branch: { $ref: '../schemas/branch.json' }
    Event: { $ref: '../schemas/event.json' }
    CatalogItem: { $ref: '../schemas/catalog-item.json' }
    Hold: { $ref: '../schemas/hold.json' }
    PageMeta:
      type: object
      properties:
        meta:
          type: object
          properties:
            page: { type: integer }
            perPage: { type: integer }
            total: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
  parameters:
    borough:
      name: borough
      in: query
      schema: { type: string, enum: [Manhattan, Bronx, Staten Island, Brooklyn, Queens] }
    q:
      name: q
      in: query
      description: Free-text search.
      schema: { type: string }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
