openapi: 3.1.0
info:
  title: Manhattan Borough President API (proposed)
  version: 0.1.0
  summary: >-
    One owned, resource-oriented API for the Office of the Manhattan Borough President — publishing its
    already-open reference data (community boards, land-use/ULURP recommendations, board appointments,
    discretionary funding awards, legislation, and constituent-service cases) as coherent resources, and
    adding the missing write surface that today lives only in a WordPress web form: applying to serve on a
    Manhattan community board.
  description: >-
    Proposed API-first surface for the Office of the Manhattan Borough President (MBPO), from the NYC
    Modernization low-hanging-fruit assessment of manhattanbp.nyc.gov and NYC Open Data.


    The Manhattan BP is not a data desert — it publishes **21 datasets** on NYC Open Data (agency label
    'Manhattan Borough President (MBPO)') covering ULURP recommendations, appointments, community-board
    leadership, constituent services, and — above all — years of discretionary and capital funding awards.
    But the data is **fragmented** (one dataset per program per fiscal year — Capital Grant Awards 2014,
    2015, 2016, 2017, 2018 are five separate assets), the public site is a **generic WordPress/Divi template**
    on WP Engine whose only "API" is the default WordPress REST API and a Forminator form plugin, and there
    is **no machine-readable write surface** for the office's flagship citizen action: applying to serve on a
    community board.


    A further finding sits above this one: all five borough presidents run near-identical thin sites and
    publish the same shapes of data under parallel Socrata labels. This contract is written so it could be
    **federated** — one shared Borough President API standard, deployed per office — rather than rebuilt five
    times.


    This contract does two things: (1) presents the open reference datasets as one clean resource model
    (collapsing the per-year grant datasets into a single FundingAward resource), and (2) adds the one net-new
    **write** workflow — submitting a `CommunityBoardApplication` — that today exists only behind a WordPress
    form or a downloadable PDF.


    Every resource schema is an individual JSON Schema file referenced by `$ref`. See `../schemas/`,
    `../crosswalk.md`, `../tech-stack.md`, and `../apis-observed.md`.
  contact:
    name: API Evangelist — NYC Modernization
    url: https://github.com/api-evangelist/nyc
servers:
  - url: https://api.manhattanbp.nyc.gov/v1
    description: Proposed production host (illustrative)
tags:
  - name: CommunityBoards
    description: Manhattan's 12 community boards — leadership, meetings, and offices.
  - name: LandUse
    description: ULURP advisory recommendations (the BP's statutory land-use role).
  - name: Appointments
    description: Borough President appointments to boards, councils, and commissions.
  - name: Funding
    description: Discretionary, capital, tourism, and community funding awards (the per-year Socrata datasets unified).
  - name: Legislation
    description: Legislation and policy positions the office advocates.
  - name: Constituents
    description: De-identified constituent-service cases.
  - name: Applications
    description: Apply to serve on a community board (read + write). The net-new surface, today only a WordPress form.

paths:
  /community-boards:
    get:
      operationId: listCommunityBoards
      summary: List Manhattan community boards
      tags: [CommunityBoards]
      parameters:
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of community boards.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/community-board.json' } }
  /community-boards/{district}:
    get:
      operationId: getCommunityBoard
      summary: Get a Manhattan community board by district number
      tags: [CommunityBoards]
      parameters:
        - name: district
          in: path
          required: true
          schema: { type: integer, minimum: 1, maximum: 12 }
      responses:
        '200':
          description: The community board.
          content:
            application/json:
              schema: { $ref: '../schemas/community-board.json' }
        '404': { $ref: '#/components/responses/NotFound' }

  /land-use-recommendations:
    get:
      operationId: listLandUseRecommendations
      summary: List / search ULURP advisory recommendations
      tags: [LandUse]
      parameters:
        - name: ulurpApplicationNumber
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of land-use recommendations.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/land-use-recommendation.json' } }

  /appointments:
    get:
      operationId: listBoardAppointments
      summary: List Borough President appointments
      tags: [Appointments]
      parameters:
        - name: boardCategory
          in: query
          schema: { type: string }
        - name: organization
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of appointments.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/board-appointment.json' } }

  /funding-awards:
    get:
      operationId: listFundingAwards
      summary: Search discretionary, capital, tourism, and community funding awards
      description: One resource unifying the per-year, per-program grant datasets the office publishes separately on Open Data.
      tags: [Funding]
      parameters:
        - name: program
          in: query
          schema: { type: string, enum: [Capital Grant, Tourism Grant, Community Grant, MCAP, Police-Community Relations Award] }
        - name: fiscalYear
          in: query
          schema: { type: string }
        - name: organization
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/borough'
        - name: councilDistrict
          in: query
          schema: { type: integer, minimum: 1, maximum: 51 }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of funding awards.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/funding-award.json' } }

  /legislation:
    get:
      operationId: listLegislation
      summary: List legislation and policy positions
      tags: [Legislation]
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: subject
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of legislation.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/legislation.json' } }

  /constituent-cases:
    get:
      operationId: listConstituentCases
      summary: Search de-identified constituent-service cases
      tags: [Constituents]
      parameters:
        - name: caseType
          in: query
          schema: { type: string }
        - name: caseStatus
          in: query
          schema: { type: string }
        - name: councilMember
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of constituent cases.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/constituent-case.json' } }

  /community-board-applications:
    get:
      operationId: listCommunityBoardApplications
      summary: List the authenticated applicant's community-board applications
      description: Reads the applicant's own submissions — today there is no way to see this at all outside the office's internal records.
      tags: [Applications]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [Submitted, Under Review, Interview, Appointed, Waitlisted, Declined] }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: A page of the applicant's applications.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PageMeta'
                  - type: object
                    properties:
                      data: { type: array, items: { $ref: '../schemas/community-board-application.json' } }
    post:
      operationId: createCommunityBoardApplication
      summary: Apply to serve on a community board
      description: >-
        The net-new write surface — an API for applying to serve on a Manhattan community board, replacing
        the WordPress/Forminator web form (or downloadable PDF) that is the only option today. The resulting
        appointment, if made, surfaces in aggregate in the 'BP Appointments' Open Data set.
      tags: [Applications]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '../schemas/community-board-application.json' }
      responses:
        '201':
          description: Application submitted.
          content:
            application/json:
              schema: { $ref: '../schemas/community-board-application.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /community-board-applications/{applicationId}:
    get:
      operationId: getCommunityBoardApplication
      summary: Get a community-board application
      tags: [Applications]
      security: [{ bearerAuth: [] }]
      parameters:
        - name: applicationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The application.
          content:
            application/json:
              schema: { $ref: '../schemas/community-board-application.json' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CommunityBoard: { $ref: '../schemas/community-board.json' }
    LandUseRecommendation: { $ref: '../schemas/land-use-recommendation.json' }
    BoardAppointment: { $ref: '../schemas/board-appointment.json' }
    FundingAward: { $ref: '../schemas/funding-award.json' }
    Legislation: { $ref: '../schemas/legislation.json' }
    ConstituentCase: { $ref: '../schemas/constituent-case.json' }
    CommunityBoardApplication: { $ref: '../schemas/community-board-application.json' }
    PageMeta:
      type: object
      properties:
        meta:
          type: object
          properties:
            page: { type: integer }
            perPage: { type: integer }
            total: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
  parameters:
    borough:
      name: borough
      in: query
      schema: { type: string, enum: [Manhattan, Bronx, Brooklyn, Queens, Staten Island] }
    q:
      name: q
      in: query
      description: Free-text search.
      schema: { type: string }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: perPage
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
